@charset "utf-8";
$fontStack:Helvetica,STHeiti,Droid Sans Fallback;
$wxColor1:#ffffff;// 主背景色
$wxColor2:#f1f5fa; // 次背景色
$wxColor3:#ebedf2; // 边框色
$wxColor4:#cccccc; //次文字3
$wxColor5:#a6afc5; //次文字2
$wxColor6:#686b75; //次文字1
$wxColor7:#2d313f; //主文字
$wxColor8:#262d33; //主颜色
$wxColor9:#000; // 主颜色加深
$wxColor10:#e44839; // 强调色
$wxColor11:#1abc9c; // 强调色
$wxColor13:rgba(0,0,0,0.3); // 提示消息背景色
$wxColor14:rgba(0,0,0,0.8); // 提示消息背景色



