@charset "UTF-8";
body, div, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, iframe, input, textarea, select, label, article, aside, footer, header, menu, nav, section, time, audio, video {
  margin: 0;
  padding: 0; }

article, aside, footer, header, nav, section, audio, canvas, video {
  display: block; }

html {
  font-size: 100px; }

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: auto;
  font-size: .16rem;
  line-height: 150%; }

textarea {
  resize: none; }

iframe, img {
  border: 0; }

ul, ol, ul li {
  list-style: none; }

input, select, textarea {
  outline: 0;
  -webkit-user-modify: read-write-plaintext-only; }

input {
  -webkit-appearance: none; }

a {
  text-decoration: none;
  color: inherit; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

.cf {
  *zoom: 1; }

h1, h2, h3 {
  font-weight: 100; }

i {
  font-style: normal; }

video {
  font-size: 0; }

.main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .main .contain {
    position: absolute;
    left: 1.2rem;
    right: 0;
    top: .1rem;
    bottom: .1rem;
    min-width: 8rem;
    overflow: auto; }

/*导航*/
.nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.2rem;
  bottom: 0;
  background: #262d33;
  overflow-y: auto; }
  .nav .user {
    margin-top: .3rem; }
    .nav .user .head {
      position: relative;
      width: .8rem;
      height: .8rem;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      cursor: pointer; }
      .nav .user .head img {
        width: .8rem;
        height: .8rem; }
      .nav .user .head p {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: .8rem;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        font-size: .16rem;
        color: #e44839;
        background: rgba(0, 0, 0, 0.8);
        display: none; }
      .nav .user .head:hover p {
        display: block; }
    .nav .user .name {
      font-size: .14rem;
      line-height: .2rem;
      color: #ffffff;
      text-align: center;
      padding-top: .1rem; }
  .nav ul {
    margin-top: .2rem;
    overflow: hidden; }
    .nav ul li a {
      display: block;
      font-size: .16rem;
      color: #ffffff;
      padding-top: .5rem;
      text-align: center;
      line-height: 150%;
      margin-top: .4rem;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: .4rem .4rem;
      cursor: pointer; }
    .nav ul li.on a, .nav ul li:hover a {
      color: #e44839; }
    .nav ul li.index a {
      background-image: url("../image/i9.png"); }
    .nav ul li.index.on a, .nav ul li.index:hover a {
      background-image: url("../image/i10.png"); }
    .nav ul li.box a {
      background-image: url("../image/i3.png"); }
    .nav ul li.box.on a, .nav ul li.box:hover a {
      background-image: url("../image/i4.png"); }
    .nav ul li.order a {
      background-image: url("../image/i7.png"); }
    .nav ul li.order.on a, .nav ul li.order:hover a {
      background-image: url("../image/i8.png"); }
    .nav ul li.appoint a {
      background-image: url("../image/i5.png"); }
    .nav ul li.appoint.on a, .nav ul li.appoint:hover a {
      background-image: url("../image/i6.png"); }
    .nav ul li.data a {
      background-image: url("../image/i1.png"); }
    .nav ul li.data.on a, .nav ul li.data:hover a {
      background-image: url("../image/i2.png"); }
    .nav ul li.game a {
      background-image: url("../image/i22.png"); }
    .nav ul li.game.on a, .nav ul li.game:hover a {
      background-image: url("../image/i23.png"); }

/*多选框*/
.check {
  background: url("../image/i11.png") no-repeat center;
  background-size: .3rem .3rem;
  cursor: pointer; }
  .check.on {
    background-image: url("../image/i12.png"); }

/*数据列表*/
.tableList .th, .tableList .tr {
  height: .5rem;
  line-height: .5rem;
  width: 100%;
  background: #ffffff; }
  .tableList .th p, .tableList .tr p {
    float: left;
    height: 100%;
    text-align: center;
    color: #2d313f; }
    .tableList .th p b, .tableList .tr p b {
      color: #686b75;
      font-weight: normal; }
    .tableList .th p .b, .tableList .tr p .b {
      color: #1abc9c; }
  .tableList .th.total, .tableList .tr.total {
    border-top: 0.5px solid #a6afc5; }
    .tableList .th.total p .b, .tableList .tr.total p .b {
      color: #e44839; }
.tableList .th {
  background: #a6afc5;
  font-size: .15rem; }
  .tableList .th p {
    cursor: pointer; }

.tabWrap .tabBar {
  background: #ffffff;
  border-bottom: 3px solid #1abc9c; }
  .tabWrap .tabBar ul {
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    padding: 0 .2rem; }
    .tabWrap .tabBar ul li {
      position: relative;
      width: 1%;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      text-align: center;
      font-size: .17rem;
      color: #2d313f;
      height: .5rem;
      cursor: pointer; }
      .tabWrap .tabBar ul li a {
        display: block;
        line-height: .2rem;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        -webkit-transform: translateY(-50%); }
      .tabWrap .tabBar ul li.on {
        color: #ffffff;
        background: #1abc9c; }
.tabWrap .tabCon {
  display: none;
  margin: .2rem; }
  .tabWrap .tabCon.on {
    display: block; }

.tableSearch {
  margin: .2rem 0; }
  .tableSearch .searchMod {
    float: left;
    position: relative;
    width: 50%;
    line-height: .4rem; }
    .tableSearch .searchMod span.label {
      color: #000;
      float: left; }
    .tableSearch .searchMod.block {
      width: 100%; }
    .tableSearch .searchMod .labelCon {
      height: 100%;
      right: 0;
      padding-right: .1rem;
      margin-left: .9rem;
      color: #686b75; }
      .tableSearch .searchMod .labelCon .radioSelect li {
        float: left;
        margin-right: .2rem;
        padding-left: .2rem;
        line-height: .4rem;
        background: url("../image/r.png") no-repeat center left;
        background-size: 0.18rem;
        cursor: pointer; }
        .tableSearch .searchMod .labelCon .radioSelect li.on {
          background-image: url("../image/r_on.png");
          color: #1abc9c; }
      .tableSearch .searchMod .labelCon input {
        background: none;
        border: none;
        width: 100%;
        height: 100%;
        padding-left: .1rem; }
  .tableSearch:after {
    content: "";
    display: block;
    clear: both; }

.selectedWrap {
  position: relative; }
  .selectedWrap .selected {
    display: block;
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    color: #2d313f;
    text-align: center;
    cursor: pointer;
    background: url("../image/i16.png") no-repeat right center;
    background-size: .2rem .2rem; }
  .selectedWrap .selectedDrop {
    display: none;
    position: absolute;
    left: 0;
    top: .45rem;
    width: 100%;
    background: #ffffff;
    border: 1px solid #f1f5fa;
    line-height: .4rem; }
    .selectedWrap .selectedDrop li {
      width: 100%;
      height: .4rem;
      line-height: .4rem;
      color: #2d313f;
      text-align: center;
      cursor: pointer; }
      .selectedWrap .selectedDrop li.on, .selectedWrap .selectedDrop li:hover {
        background: #1abc9c;
        color: #ffffff; }

/*按钮*/
.btn {
  border: 1px solid #ebedf2;
  background: #1abc9c;
  color: #ffffff;
  width: .8rem;
  text-align: center;
  height: .3rem;
  line-height: .3rem;
  font-size: .14rem;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer; }

.layerWrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none; }
  .layerWrap .close {
    position: absolute;
    left: 86%;
    top: 10%;
    width: .4rem;
    height: .4rem;
    background: url("../image/i15.png") no-repeat center;
    background-size: .4rem .4rem;
    cursor: pointer; }
  .layerWrap .layer {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 10%;
    bottom: 10%;
    background: #ffffff; }
    .layerWrap .layer h2 {
      background: #1abc9c;
      color: #ffffff;
      font-size: .2rem;
      line-height: .5rem;
      text-align: center; }
    .layerWrap .layer .layerCon {
      padding: .2rem; }
    .layerWrap .layer .btns {
      padding: .1rem; }
    .layerWrap .layer .tableList .th span:nth-child(1), .layerWrap .layer .tableList .tr span:nth-child(1) {
      width: 10%; }
    .layerWrap .layer .tableList .th span:nth-child(2), .layerWrap .layer .tableList .tr span:nth-child(2) {
      width: 30%; }
    .layerWrap .layer .tableList .th span:nth-child(3), .layerWrap .layer .tableList .tr span:nth-child(3) {
      width: 30%; }
    .layerWrap .layer .tableList .th span:nth-child(4), .layerWrap .layer .tableList .tr span:nth-child(4) {
      width: 30%; }

.simple_tips {
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  width: 2.6rem;
  line-height: 0.2rem;
  -webkit-transform: translate(-50%, -50%);
  padding: 0.2rem;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  border-radius: 5px;
  font-size: 0.14rem;
  text-align: center; }

.main.mobile .nav {
  z-index: 9;
  bottom: 0;
  height: .6rem;
  position: fixed;
  left: 0;
  width: 100%;
  top: initial; }
  .main.mobile .nav .user {
    display: none; }
  .main.mobile .nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    margin-top: .05rem;
    padding: 0; }
    .main.mobile .nav ul li {
      width: 1%;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      text-align: center; }
      .main.mobile .nav ul li a {
        padding-top: .3rem;
        line-height: .2rem;
        margin-top: 0;
        background-size: .3rem .3rem; }
.main.mobile .contain {
  min-width: auto;
  left: 0;
  top: 0;
  bottom: .6rem; }
  .main.mobile .contain .tableList .th {
    font-size: .13rem; }
  .main.mobile .contain .tableList .tr {
    border-top: 0.5px solid #f1f5fa; }
  .main.mobile .contain .tabWrap .tabBar ul {
    padding: 0; }
  .main.mobile .contain .tabWrap .tabCon {
    margin: 0;
    font-size: .12rem; }
  .main.mobile .contain .tableSearch {
    margin: .1rem; }
    .main.mobile .contain .tableSearch .searchMod {
      width: 100%; }

@-webkit-keyframes wSteps2 {
  0% {
    background-position: -0% 0%; }
  100% {
    background-position: -200% 0%; } }
@-webkit-keyframes wStep3 {
  0% {
    background-position: -0% 0%; }
  100% {
    background-position: -300% 0%; } }
@-webkit-keyframes flash {
  0%,100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
/*包房*/
.topMess {
  position: absolute;
  left: 0;
  color: #e44839;
  font-size: .18rem;
  line-height: .3rem;
  text-align: left;
  margin: .1rem;
  padding-left: .3rem; }
  .topMess b {
    position: absolute;
    left: 0;
    top: 0; }

.call {
  width: .3rem;
  height: .3rem;
  background: url("../image/i18.png");
  background-size: auto 100%;
  display: block;
  margin: .1rem auto; }
  .call.on {
    -webkit-animation: wSteps2 1s steps(2) infinite;
    background: url("../image/a1.png");
    background-size: auto 100%;
    cursor: pointer; }

.roomList .tr:nth-child(2n+1) {
  background: #f1f5fa; }
.roomList .tr p:nth-child(1), .roomList .th p:nth-child(1) {
  width: 10%; }
.roomList .tr p:nth-child(2), .roomList .th p:nth-child(2) {
  width: 15%; }
.roomList .tr p:nth-child(3), .roomList .th p:nth-child(3) {
  width: 15%; }
.roomList .tr p:nth-child(4), .roomList .th p:nth-child(4) {
  width: 10%; }
.roomList .tr p:nth-child(5), .roomList .th p:nth-child(5) {
  width: 15%; }
.roomList .tr p:nth-child(6), .roomList .th p:nth-child(6) {
  width: 20%; }
.roomList .tr p:nth-child(7), .roomList .th p:nth-child(7) {
  width: 15%; }
.roomList .tr p .btn, .roomList .th p .btn {
  margin: .1rem auto;
  background: #686b75;
  cursor: pointer; }
  .roomList .tr p .btn.lock, .roomList .th p .btn.lock {
    background: #e44839; }
  .roomList .tr p .btn.unlock, .roomList .th p .btn.unlock {
    background: #1abc9c; }

.btns {
  margin: 0.05rem 0.1rem;
  text-align: right; }

.btn {
  margin: .1rem auto;
  background: #686b75;
  cursor: pointer; }
  .btn.lock {
    background: #e44839; }
  .btn.free {
    background: #1abc9c; }

.layerCallReason ul {
  overflow: hidden; }
  .layerCallReason ul li {
    float: left;
    background-position: left center;
    padding-left: .35rem;
    margin: .2rem .2rem .2rem 0; }
.layerCallReason .textarea {
  width: 100%;
  height: .8rem;
  background: #fff;
  border: 1px solid #ebedf2; }
  .layerCallReason .textarea textarea {
    background: none;
    border: none;
    padding: .1rem;
    line-height: .3rem;
    color: #000;
    font-size: .16rem; }
.layerCallReason .btn {
  width: 2rem;
  margin: .2rem auto;
  background: #1abc9c; }

.gameManage .tr p:nth-child(1), .gameManage .th p:nth-child(1) {
  width: 15%; }
.gameManage .tr p:nth-child(2), .gameManage .th p:nth-child(2) {
  width: 22%; }
.gameManage .tr p:nth-child(3), .gameManage .th p:nth-child(3) {
  width: 18%; }
.gameManage .tr p:nth-child(4), .gameManage .th p:nth-child(4) {
  width: 25%; }
.gameManage .tr p:nth-child(5), .gameManage .th p:nth-child(5) {
  width: 20%; }
.gameManage .tr p .btn, .gameManage .th p .btn {
  background: #1abc9c;
  width: .6rem; }

/*# sourceMappingURL=game.css.map */
