@charset "utf-8";
@import "global";
.top{
  height:.4rem; border-bottom: 1px solid $wxColor2;
  p.logout{
    float: right; text-align: $wxColor7; font-size: .16rem; line-height: .4rem; padding-right: .1rem; cursor: pointer;
  }
}




