@charset "utf-8";
.btn{
  display: block;
  width:60%;
  height:.4rem;
  border-radius: 5px;
  margin: .1rem auto;
  line-height: .4rem;
  background:$gColor17;
  text-align: center;
  font-size: .16rem;
  color: $gColor2;
  &.btn2{
    background: $gColor11;
  }
  &.btn3{
    background: $gColor15;
  }
  &.btn4{
    background: $gColor20;
  }
  &.btn5{
    background: $gColor3;
  }
  &.hide{
    display: none;
  }
}

.btnWrap.twoCol{
  text-align: center;
  .btn{
    width:40%;
    display: inline-block;
    margin-left:2%;
    margin-right:2%;
  }
}

.longPress{
  position: relative;
  overflow: hidden;
  .process {
    b{position: absolute; left:0; top:0; width:0%; height:100%;}
  }
  .text{position: relative; z-index: 2;}
  &.state-success{
    .text{
      background: url("../image/success.png") no-repeat left center;
      background-size: .2rem auto ;
      padding-left: .25rem;
      -webkit-transition: all .5s ease-in-out;
    }
  }
  &.btn2{
    .process{
      b{
        background: $gColor10;
      }
    }
  }
  &.btn3{
    .process{
      b{
        background: $gColor16;
      }
    }
  }
  &.btn4{
    .process{
      b{
        background: $gColor21;
      }
    }
  }
}
.userBtns{
  position: absolute; right:0; bottom:0; width:.8rem; height:100%; -webkit-transform: translateY(0%); -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden; -webkit-transition: all .5s ease-in-out;
  z-index:10;
  .menu{
    position: absolute; right:.12rem; top:50%; margin-top: -.3rem; width:.6rem; height: .6rem; background: url(../image/menu.png) center no-repeat;  background-size: contain;
  }
  .btns{
    position: absolute; top:50%; left:.08rem; right:.8rem; -webkit-transform:translateY(-50%); display: none;
    a{
      display: block; float: right; width:27%; height:.3rem; line-height: .3rem; margin: .05rem 3%;  background: $gColor12; color: $gColor2; text-align: center; font-size: .14rem; border-radius: 3px; overflow: hidden;
    }
  }
  &.active{
    background:$gColor9; width:100%;
    .menu{
      background-image: url(../image/menu_on.png);
    }
    .btns{
      display: block;
    }

  }
}









