@charset "utf-8";
$fontStack:Microsoft YaHei,SimSun,Helvetica,STHeiti,Droid Sans Fallback;
//$color: #f1f1f1;
//$color0:#fff;
//$color1: #000;
//$color2: #666;
//$color3:#e74c3c; // 橙
//$color8:#d34132; //深橙
//$color5:#34495e; // 深蓝
//$color6:rgba(36,74,111,0.8); // 深蓝.8
//$color7:#1abc9c; // 蓝+$color7:#1abc9c; // 蓝+
//$color4:#16a085; // 蓝
//
//$color12:rgba(0,0,0,0.8);

$gColor1:#ffffff;// 主文字，背景色
$gColor2:#f1f5fa; // 次文字色
$gColor3:#666; // 
$gColor4:#000; //

$gColor7:rgba(0,0,0,0.3); // 提示消息背景色
$gColor8:rgba(0,0,0,0.6); // 提示消息背景色
$gColor9:rgba(0,0,0,0.8); // 提示消息背景色

$gColor10:#1abc9c; //主颜色1，弹层标题，边框颜色
$gColor11:#16a085; //主颜色1+,按钮颜色
$gColor12:rgba(15,150,125,0.8); // 主颜色1+ 半透明

$gColor15:#34495e; //主颜色2
$gColor16:#1e3041; // 主颜色2+
$gColor17:rgba(30,48,65,0.8); // 主颜色2+ 半透明

$gColor20:#e74c3c; //强调色
$gColor21:#cb3728; //强调色+
$gColor22:rgba(203,55,40,0.8); // 主颜色1+ 半透明
._page{
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
._verCenter{
  position:absolute;
  width:100%;
  left:0;
  top:50%;
  -webkit-transform:translateY(-50%);
}


