@charset "utf-8";
.layer{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index: 99;
  display: none;
  &.active{
    background: rgba(0,0,0,0.8);
  }
  .inner{
    position: absolute; left:10%; top:50%; width:80%; height:auto;z-index: 99; box-sizing: border-box;
    -webkit-transform:translateY(-50%); background: #fff; border:2px solid $gColor10; border-radius: 10px;
    .title{
      background: $gColor10; color: $gColor2; text-align: center;
    }
    .info{
      font-size: .16rem; color: $gColor10; line-height: .2rem; text-align: center;padding: .2rem .1rem 0;
      b{
        color: $gColor20; font-size: .2rem; padding: 0 .05rem;
      }
    }
    .tips{
      color: $gColor20; font-size: .16rem; text-align: center; line-height:.3rem;
    }
    .content{
      position: relative;
      overflow: hidden;
      .voteList {
        text-align: center;
        li {
          position: relative;
          width: 40%;
          height:0;
          padding-top:40%;
          display: inline-block;

          .user{
            position: absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            .state{display: none}
          }
          .user:before{
            content: "";
            position: absolute;
            right: 5%;
            top: 5%;
            background: url(../image/delete.png) no-repeat center;
            background-size: 100% 100%;
            width: 20%;
            height: 20%;
          }
        }
        li.unchoose{
          background: url("../image/level/0_0.png") no-repeat center;
          background-size: 80% 80%;
        }
      }
    }
    .btn{ margin: .2rem auto;}
    .countDown{
      //position: absolute;
      //left:0;
      //top:-.3rem;
      //width:100%;
      //height:.2rem;
      line-height:.24rem;
      text-align: center;
      font-size: .2rem;
      font-weight: bold;
      color: $gColor20;
      padding-left: .1rem;
      display: inline;
    }
  }

}

.layer.layerSixCenter{
  position: absolute; left:20%; top:.8rem; width:60%; height:auto; background: none;
  .inner{
    position: relative;
    -webkit-transform: translateY(0);
    width:100%;
    height:auto;
    top:0;
    left:0;
  }
}

.layer.layerEventChoose{
  .content {
    .info{padding-bottom: .1rem}
  }
}
//身份
.layer.layerShenfen{
  z-index: 100;
  .inner{
    top:10%; height:80%;
    -webkit-transform:translateY(0); background: none; border:none; border-radius: 10px;
    .title{background: none;}
    .content{position: absolute; left:0; top:.6rem; bottom: .6rem; width:100%; height:auto;
      div{
        height:100%; width:auto; margin: 0 auto; display: inline-block;
        img{
          width: auto; height:100%;
        }
      }

    }
    .btnWrap{position: absolute; left:0; bottom:0; width: 100%;
      display: none;
      .btn{margin-top:0; margin-bottom: 0;}
    }
  }
}
//盗贼选择身份
.layer.layerEventRobber{
  .content{
    .voteList{
      margin: .2rem 0;
      li{
        position: relative; height:auto; line-height: 0; padding: .1rem; box-sizing: border-box; border: 3px solid $gColor1; opacity: 0.8;
        img{
          width:100%; height:auto;
        }
        &.on{
          //&:before{
          //  content:" "; position: absolute; width:.2rem; height:.2rem; right:0; bottom:0; background: url("../image/sf_select.png") no-repeat center; background-size: 100%;
          //}
          border-color: $gColor10; opacity: 1;
        }
        &.unchoose{
          opacity: 0.5;
        }
      }
    }
  }
}
//女巫事件
.layer.layerEventWitch{
  .content{
    .mod{
      display: none; min-height: 2.1rem; overflow: hidden;
    }
  }
  &[witchtype='PAPA']{
    .content{
      .mod.saveAndPoison{
        display: block;
        .chooseBtn{
          position: relative; width:100%; height:.7rem; text-align: center; margin: .2rem 0 .1rem;
          a{
            display: inline-block;
            margin: 0 .1rem;
            width: .56rem;
            height: .56rem;
            line-height: .56rem;
            border-radius: 50%;
            font-size: .3rem;
            text-align: center;
            font-weight: bold;
            &.save{
              border: .04rem solid $gColor10; color: $gColor10;
            }
            &.poison{
              border: .04rem solid $gColor20;  color: $gColor20;
            }
          }

        }

      }
      .mod.save .tips{
        .tips{
          padding-top: .3rem;
        }
      }
      .mod.save,.mod.poison{
        .btn.js-withdraw{
          display: none;
        }
      }

    }
  }
  &[witchtype='POISON']{
    .content{
      .mod.poison{
        display: block;
        .js-witchChoose{
          display: none;
        }
      }
    }
  }
  &[witchtype='SAVE']{
    .content{
      .mod.save{
        display: block;
        .js-witchChoose{
          display: none;
        }
      }
    }
  }
}

//投票结果展示
.layer.layerEventVoteResult{
  .content{
    .result{
      position: relative; overflow: hidden; border-bottom:  1px solid $gColor10; padding: .1rem .05rem .1rem 20%;
      .userNum{
        font-size: .14rem; color: $gColor20; width:.24rem; height:.24rem; line-height: .24rem; border-radius: 50%; background: $gColor2; display: block; text-align: center; border: 1px solid $gColor20;
      }
      .left{
        position: absolute; left:0; top:0; width:20%; height:100%;
        .userNum{
          position: absolute; left:50%; top:50%; -webkit-transform: translate(-50%,-50%);
        }
        .userNum.qi{border-color: $gColor15; color: $gColor15;}
      }
      .right{
        position: relative; width:100%;
        &:before{
          content: ""; position: absolute; left:0; top:0; width:.15rem; height:100%;
          background: url(../image/jiantou.png) no-repeat center; background-size: contain;
        }
        ul{
          overflow: hidden; margin-left: .2rem;
          li{
            position: relative; float: left; width:20%;
            .userNum{
              border-color: $gColor10; color:$gColor10;  margin: .08rem auto;

            }
            .sergean{
              position: absolute;
              right:0;
              bottom:0;
              width: 45%;
              height:45%;
              border: none;
              background:url(../image/state/s2.png) no-repeat right bottom;
              background-size:contain;
            }
          }
        }
      }



    }
  }
}
//死亡提示
.layer.layerDead{
  .content{
    width:80%; height:100%; margin: 0 auto; background: url(../image/dead1.png) no-repeat center; background-size: contain;
    b{
      position: absolute;
      left:0;
      top:50%;
      -webkit-transform:translateY(-45%);
      width:100%;
      padding-bottom: 100%;
      font-size: .2rem;
      color: $gColor20;
      text-align: center;
    }
  }
}
// 个人信息
.layerUserInfo{
  .inner{
    margin-top: -.3rem;
    .user{
      width:80%; margin: 0 auto;
    }
    .infos{
      width:75%; margin: 0 auto .1rem;
      li{
        font-size: .12rem; color: $gColor4;
        span{
          width:.8rem; display: inline-block; text-align: left; color: $gColor10; text-align: right;
        }
        p{
          display: inline-block; color: $gColor15;
        }
      }
    }
    .close{
      position: absolute;
      bottom: -.6rem;
      left:50%;
      width:.6rem;
      height:.6rem;
      margin-left: -.3rem;
      background: url("../image/close1.png") no-repeat center;
      background-size: .6rem auto;
    }
  }

}

.layer.gameResult{
  background: $gColor9;
  .inner{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    -webkit-transform: translate(0,0);

  }
  &.TIE .inner{
    background-image: url("../sImage/w0.png");
  }

  &.WOLF_WIN .inner{
    background-image: url("../sImage/w1.png");
  }
  &.GOOD_WIN .inner{
    background-image: url("../sImage/w2.png");
  }
  &.THIRD_WIN .inner{
    background-image: url("../sImage/w3.png");
  }
}
.layer.pause{
  background:$gColor9; z-index: 101;
  .inner{
    background: none; border: none; text-align: center; font-size: .3rem; color: $gColor10;
  }
}







