.user-list{
  position: relative; width:100%; height:auto; overflow: hidden;
  li{
    position: absolute;
    -webkit-transform-origin: center center;
    opacity: 0;
    .user{
      width: 100%;
      height: 100%;
      -webkit-transform-origin: center center;

      &[dead=true]{
        opacity:0.8;
        .head img{
          visibility: hidden;
        }
      }
    }
  }
  &.choosing{
    .user{
      opacity: 0.5;
      &.canVote{
        opacity: 1;
        -webkit-animation: flash 1s infinite;
      }
    }
  }
}
.choosing .user{
  opacity: 0.5;
}
.user{
  position: relative;
  .level{
    width:100%;
    height:100%;
    .userInner:before,.star,.star:before,.num, .num:before {
      content: "";
      position: absolute;
      left:0; bottom:0; width:100%;
      height:100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
    }
    .userInner{
      position: relative;
      text-align: center;
      padding: 12%;
      box-sizing: border-box;
      line-height: 0;
      background: none;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      width:80%;
      height:80%;
      margin: .1rem auto;
      .star{background-image:url(../image/level/l_b.png); z-index: 2;}
      .num{background-image:url(../image/level/0_1_0.png); z-index: 2;}
      @for $i from 1 through 15{
        .num#{$i}:before{
        background-image: url('../image/level/n#{$i}.png');
        }
      }
      .head{
        width:100%;
        height:100%;
        position: relative;
        img{
          width:100%;
          height:auto;
          margin: 0 auto;
          z-index: 2;
          position: relative
        }
      }
      .status{
        b.state{
          position: absolute; right:2%; top:6%; width:25%; height:25%; z-index: 10;
          opacity:0;
          -webkit-animation:fadeInRight 1s forwards;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
        b.campaign{background-image: url(../image/shangjing.png); }
        b.sergeant{background-image: url(../image/jing.png);}
        b.DEAD,b.LOVE_DEAD,b.EXILE,b.SHOOT,b.SELF_DESTRUCT,b.BOMBERMAN,b.IDIOT_TIMEOUT,b.WHITE_SHOOT,b.WHITE_SELF_DESTRUCT,b.SURVIVAL,b.SHUTUP,b.IDIOT{
          background-image: url(../image/jing.png);
        }
      }
      &:before{
        background-image: url(../image/level/0.png);
      }
    }

  }
  @for $i from 1 through 5{
    .level#{$i}{
      .userInner{
        .num{background-image: url(../image/level/#{$i}_1_0.png);}
        @for $j from 1 through 3{
          .star#{$j}:before{
            background-image: url('../image/level/#{$i}_#{$j}.png');
          }
        }
        &:before{background-image: url(../image/level/#{$i}.png);}
      }
    }
  }
  .nick{
    position: absolute;
    left:0;
    bottom: 0;
    font-size:.12rem;
    line-height: .12rem;
  }
  .designation{
    position: absolute;
    right:0;
    bottom: 0;
    font-size:.12rem;
    line-height: .12rem;
  }
  &.userBack{
    .level{
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      .userInner{
        width:40%;
        padding: 6%;
      }
    }
    @for $i from 1 through 5{
      .level#{$i}{
        background-image:url(../image/level/#{$i}_0.png);
      }
    }
}
}

/*user dead*/
//.user.DEAD .head img,.user.LOVE_DEAD .head img,.user.EXILE .head img,.user.SHOOT .head img,.user.SELF_DESTRUCT .head img,.user.BOMBERMAN .head img,.user.IDIOT_TIMEOUT .head img,.user.WHITE_SHOOT .head img,.user.WHITE_SELF_DESTRUCT .head img{visibility: hidden; }
//.user.DEAD .level,.user.LOVE_DEAD .level,.user.EXILE .head img,.user.SHOOT .level,.user.SELF_DESTRUCT .level,.user.BOMBERMAN .level,.user.IDIOT_TIMEOUT .level,.user.WHITE_SHOOT .level,.user.WHITE_SELF_DESTRUCT .level{opacity: 0.8;}
.user.SURVIVAL .head{ // 存活

}
.user.SHUTUP .head{// 禁言
}
.user.IDIOT .head{// 白痴翻牌
}
.user.DEAD .head,.user.LOVE_DEAD .head,.user.EXILE .head,.user.SHOOT .head,.user.SELF_DESTRUCT .head,.user.BOMBERMAN .head,.user.IDIOT_TIMEOUT .head,.user.WHITE_SHOOT .head,.user.WHITE_SELF_DESTRUCT .head{
  background: url(../image/dead.png) no-repeat center; background-size: contain;
}
.user.LOVE_DEAD .head{
  background-image: url(../image/dead.png);
}
.user.EXILE .head{
  background-image: url(../image/fangzu.png);
}
.user.SHOOT .head{
  background-image: url(../image/kq.png);
}
.user.SELF_DESTRUCT .head{
  background-image: url(../image/b.png);
}
.user.BOMBERMAN .head{
  background-image: url(../image/dead.png);
}
.user.IDIOT_TIMEOUT .head{
  background-image: url(../image/b.png);
}
.user.WHITE_SHOOT .head{
  background-image: url(../image/kq.png);
}
.user.WHITE_SELF_DESTRUCT .head{
  background-image: url(../image/blwzb.png);
}

.mine{
  position: absolute;
  left:0;
  bottom:.1rem;
  width:100%;
  height:auto;
  .user{
    width:50%;
    margin:0 auto;
    //.nick,.desig{
    //  position: absolute;
    //  bottom:0;
    //  font-size: .16rem;
    //  color: #fff;
    //}
  }
}
