@charset "utf-8";
.user-list{
  position: relative; width:100%; height:auto; overflow: hidden;
  li{
    position: absolute;
    -webkit-transform-origin: center center;
    opacity: 0;
    .user{
      width: 100%;
      height: 100%;
      -webkit-transform-origin: center center;
    }
  }
  &.choosing{
    .user{
      opacity: 0.5;
      &.canVote{
        opacity: 1;
        -webkit-animation: flash 1s infinite;
      }
    }
  }
}
.user{
  position: relative;
  .level{
    width:100%;
    height:100%;
    .userInner:before,.star,.star:before,.num, .num:before {
      content: "";
      position: absolute;
      left:0; bottom:0; width:100%;
      height:100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
    }
    .userInner{
      position: relative;
      text-align: center;
      padding: 12%;
      box-sizing: border-box;
      line-height: 0;
      background: none;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      width:80%;
      height:80%;
      margin: .1rem auto;
      .star{background-image:url(../image/level/l_b.png); z-index: 2;}
      .num{background-image:url(../image/level/0_1_0.png); z-index: 2; font-size: 0; line-height: 0; text-indent: -999rem;}
      @for $i from 1 through 15{
        .num#{$i}:before{
        background-image: url('../image/level/n#{$i}.png');
        }
      }
      .head{
        width:100%;
        height:100%;
        position: relative;
        img{
          width:100%;
          height:auto;
          margin: 0 auto;
          z-index: 2;
          position: relative
        }
      }

      .status{
        position: absolute;
        right:2%;
        top:6%;
        width:100%;
        height:33%;
        b.state{
          position: relative;
          z-index: 9;
          width: 33%;
          height:100%;
          float: right;
          margin-left: 2%;
          opacity:0;
          -webkit-animation:fadeInRight 1s forwards;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
        b.campaign{background-image: url(../image/state/s1.png); } /**上警**/
        b.sergeant{background-image: url(../image/state/s2.png);} /**警长**/
        b.SURVIVAL{} /**存活**/
        b.SHUTUP{background-image: url(../image/state/s4.png);} /**禁言**/
        b.IDIOT{background-image: url(../image/state/s5.png);} /**白痴翻牌**/
        b.DEAD{} /**死亡**/
        b.LOVE_DEAD{background-image: url(../image/state/s6.png);} /**殉情**/
        b.EXILE{background-image: url(../image/state/s7.png);} /**放逐**/
        b.SHOOT{background-image: url(../image/state/s8.png);} /**开枪带走**/
        b.SELF_DESTRUCT{background-image: url(../image/state/s9.png);} /**自爆**/
        b.BOMBERMAN{background-image: url(../image/state/s10.png);} /**炸弹人**/
        b.IDIOT_TIMEOUT{background-image: url(../image/state/s11.png);} /**白痴超时死亡**/
        b.WHITE_SHOOT{background-image: url(../image/state/s12.png);} /**白狼王开枪带走**/
        b.WHITE_SELF_DESTRUCT{background-image: url(../image/state/s13.png);} /**白狼王自爆**/
      }
      &:before{
        background-image: url(../image/level/0.png);
      }
    }

  }
  @for $i from 1 through 5{
    .level#{$i}{
      .userInner{
        .num{background-image: url(../image/level/#{$i}_1_0.png);}
        @for $j from 1 through 3{
          .star#{$j}:before{
            background-image: url('../image/level/#{$i}_#{$j}.png');
          }
        }
        &:before{background-image: url(../image/level/#{$i}.png);}
      }
    }
  }
  &[dead=true]{
    opacity:0.8;
    .head{
      background: url(../image/dead.png) no-repeat center; background-size: contain;
      img{
        visibility: hidden;
      }
    }
  }
  .nick{
    position: absolute;
    left:0;
    bottom: 0;
    font-size:.12rem;
    line-height: .12rem;
  }
  .designation{
    position: absolute;
    right:0;
    bottom: 0;
    font-size:.12rem;
    line-height: .12rem;
  }
  &.userBack{
    .level{
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      .userInner{
        width:40%;
        padding: 6%;
      }
    }
    @for $i from 1 through 5{
      .level#{$i}{
        background-image:url(../image/level/#{$i}_0.png);
      }
    }
}
}
.mine{
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
  height:auto;
  .userWrap{
    width:70%;
    .user{
      width:35%; overflow: hidden; float: left;
    }
    .info{
      float: left; padding-top: 10%;
    }
  }
}
