@charset "utf-8";
@import "_wx_reset";
@import "_g_reset";
html{
  background: $wxColor2;
}
body {
  .main {
    background: $wxColor2;
    padding-bottom: .55rem;
    overflow: hidden;
    .header{
      height:.55rem;
      margin-bottom: .1rem;
      div{
        position: fixed; left:0; top:0; width:100%; height:.55rem; line-height: 55rem; background: $wxColor9; z-index: 9;
        .back{
          position: absolute; left:0; top:0; width:.55rem; height:.55rem; background:url("../wxImage/back.png") no-repeat center; background-size: contain;
        }
        .pageName{
          text-align: center;  font-size: .2rem; color: $wxColor1; height:.55rem; line-height: .55rem;
        }
      }
    }
    .container{
      background: $wxColor2;
    }
    .fl{
      float: left;
    }
    .fr{
      float: right;
    }
    .topMessage{
      width:100%;
      height:.3rem;
      line-height: .3rem;
      padding: 0 .1rem;
      box-sizing: border-box;
      overflow: hidden;
      background: $wxColor10;
      p{
        white-space: nowrap;
        font-size: .12rem;
        text-align: left;
      }
    }
    .userCenterWrap{
      background: $wxColor9;
      color: $wxColor1;
      .user{
        .level .userInner{
          margin: 0 auto;
          .num{
            display: none;
          }
          @for $i from 1 through 3{
            .star#{$i}{
              background: url('../wxImage/star#{$i}.png') no-repeat center; background-size: contain;;
            }
          }
        }
      }
      p.nickname{
        text-align: center;
        font-size: .15rem;
        line-height: .15rem;
      }
    }
  }
  .levelWrap{
    position: relative;
    line-height: .16rem;
    font-size: .16rem;
    color: $wxColor1;
    margin-bottom: .1rem;

    .levelPro{
      position: absolute;
      left:.4rem;
      right:.1rem;
      top:0;
      background: $wxColor10;
      border-radius: .03rem;
      height: .16rem;
      line-height: .16rem;
      b{
        position: absolute;
        left: 0;
        top:0;
        width:0;
        height:100%;
        background: #63eb65;
        border-radius: .03rem;
      }
      i{
        position: relative;
        display: block;
        text-align: center;
        color: $wxColor1;
        font-size: .12rem;
        z-index: 2;
      }

    }
    div.levelInfo{
      position: relative; overflow: hidden;
      span{
        float: left; padding-right: .1rem;
      }
      span.star{
        display: block; height:.2rem;
      }

    }
  }
  .card{
    b{
      display: inline-block;
      padding: 0 .05rem;
      background: $wxColor10;
      color: $wxColor1;
      font-size: .12rem;
      line-height: .2rem;
      border-radius: .05rem;
      margin-right: .08rem;
    }
  }
  .layerWrap{
    display: none;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 9;
    background: $wxColor2;
    .layerNavTop{
      position: fixed;
      left:0;
      top:0;
      width:100%;
      height:.55rem;
      line-height:.55rem;
      border-bottom: 1px solid $wxColor3;
      background: $wxColor9;
      z-index:2;
      .back{
        position: absolute; left:0; top:0; width:.55rem; height:.55rem; background: url(../wxImage/back.png) no-repeat center; background-size: contain;
      }
      h2{
        text-align: center; font-size: .2rem; color: $wxColor1;
      }
    }
    .layerNavContent{
      position: absolute;
      left: 0;
      top:.55rem;
      bottom:0;
      width:100%;
      overflow: auto;
    }
    .layerNavBottom{
      position: absolute;
      left:0;
      bottom:0;
      width:100%;
      height:.55rem;
    }
  }

  .footer{
    position: fixed;
    left:0;
    bottom: 0;
    width:100%;
    background: $wxColor1;
    height:.55rem;
    border-top:1px solid $wxColor3;
    ul{
      padding-top: .07rem;
      li{
        float: left;
        width:20%;
        a{
          display: block;
          padding-top: .2rem;
          text-align: center;
          color: $wxColor7;
          font-size: .14rem;
          line-height: .25rem;
          background: url("../wxImage/mine.png") no-repeat center top;
          background-size: .2rem .2rem;
        }

        &.on a{
          color: $wxColor9;
          background-image: url("../wxImage/mine_on.png");
        }
      }
    }
  }
}
.simple_tips{
  position:fixed;
  z-index:999;
  left:50%;
  top:50%;
  width:2.6rem;
  line-height:0.2rem;
  -webkit-transform:translate(-50%,-50%);
  padding:0.2rem;
  box-sizing: border-box;
  background-color:rgba(0,0,0,.75);
  color:$color;
  border-radius:5px;
  font-size:0.14rem;
  text-align:center;
}


.flexBar{
  display: -webkit-box;
  display: -moz-box;
  display: box;
  height:.4rem;
  li{
    height: .4rem;
    line-height: .4rem;
    width:1%;
    -webkit-box-flex:1 ;
    -moz-box-flex: 1;
    box-flex: 1;
    word-break: break-all;
    color:$wxColor7;
    text-align: center;
    background: $wxColor1;
    border-bottom: 1px solid $wxColor1;
    font-size: .16rem;
    &.on{
      border-bottom:1px solid $wxColor9;
      color: $wxColor9;
      //background: $wxColor10; color: $wxColor1;
    }
  }
}
.barCon{
  display: none;
  padding-top: .1rem;
  &.on{
    display: block;
  }
}
.iscrollWrap{
  position: absolute; left: 0; bottom:0; top:.55rem; width:100%;
  .iscroll{
    position: relative; width:100%; height:100%; overflow: hidden;
  }
}
.radios li {
  padding-left: .2rem;
  height: .4rem;
  line-height: .4rem;
  background: url(../wxImage/r.png) no-repeat left center;
  background-size: .2rem;
  float: left;
  margin-right: .15rem;
  &.on{
    background-image: url("../wxImage/r_on.png"); color: $wxColor9;
  }
}

.input {
  position: relative;
  background: $wxColor1;
  height: .44rem;
  line-height: .44rem;
  color: $wxColor7;
  padding: 0 .15rem;
  border-radius: .22rem;
  margin-bottom: .3rem;
  text-align: left;
  input {
    font-size: .16rem;
    height: .44rem;
    line-height: .44rem;
    width: 100%;
  }

  input::-webkit-input-placeholder {
    color: $wxColor5;
  }
  .clear {
    position: absolute;
    top: .06rem;
    right: .1rem;
    width: .3rem;
    height: .3rem;
    background: url("../wxImage/close.png") no-repeat center;
    background-size: 100% 100%;
    display: none;
  }
}