@charset "utf-8";
@import "users";
@import "wx";
body{
  .main{
    padding-bottom: 0;
    .header{
      margin-bottom: 0;
    }
    .list{
      li{
        width:100%; background: $wxColor1;
        a{
          display: block;  height:.5rem; line-height: .5rem; font-size: .16rem; color: $wxColor7; border-bottom: 1px solid $wxColor3; padding-left: .12rem; background: url("../wxImage/list.png") no-repeat right center; background-size: .4rem .4rem;
        }
      }
    }

  }
}
