@charset "utf-8";
@import "global";
@import "users";
@import "wx";
body{
  .main{
    background: #f1f5fa;
    .userCenterWrap{
      background: #00bea1;
      .topMessage{
        width:100%;
        height:.3rem;
        line-height: .3rem;
        padding: 0 .1rem;
        box-sizing: border-box;
        overflow: hidden;
        background: rgba(255,255,255,0.5);
        p{
          white-space: nowrap;
          color: $color2;
          font-size: .12rem;
          text-align: left;
        }

      }
      .userCenter{
        padding: .1rem 0;
        overflow: hidden;
        .left{
          float: left;
          width:40%;
          .user{
            width:100%;
            .level .userInner{
              margin: 0 auto;
            }
          }
          p.nickname{
            text-align: center;
            color: $color;
            font-size: .11rem;
          }
        }
        .right{
          b{
            display: inline-block;
            padding: 0 .05rem;
            background: #009881;
            color: $color;
            font-size: .12rem;
            line-height: .2rem;
            border-radius: .05rem;
            margin-right: .08rem;
          }
        }
      }


    }
    .imgScroll{
      margin: .1rem;
      overflow: hidden;
      line-height: 0;
      ul{
        width:100%;
        height:auto;
        li{
          display: none;
          a{
            display: block;
            img{
              width:100%;
              height:auto;
            }
          }

          &.active{
            display: block;

          }
        }
      }

    }
    .shops{
      margin: .1rem;
      ul{
        li{

          a{
            background: #fff;
            padding-bottom: .1rem;
            display: block;
            img{
              width:100%;
            }
            .info{
              position: relative;
              font-size: .14rem;
              line-height: .24rem;
              padding-left: .05rem;
              .local{
                background: url("../wxImage/local.png") no-repeat left center;
                background-size: .2rem .2rem;
                padding-left: .2rem;
                color: $color2;
              }
              .shopName{
                position: absolute;
                right: .1rem;
                top:0;
                color: $color4;
              }
              .status{
                font-size: .1rem;
                color: $color2;
                padding-left: .03rem;
                span{
                  padding-left: .15rem;
                  margin-right: .15rem;
                  b{
                    color: $color4;
                  }
                  &.gaming{
                    background: url("../wxImage/1.png") no-repeat left center;
                    background-size: .15rem .15rem;
                  }
                  &.lineUp{
                    background: url("../wxImage/2.png") no-repeat left center;
                    background-size: .15rem .15rem;
                  }
                  &.notBeginning{
                    background: url("../wxImage/3.png") no-repeat left center;
                    background-size: .15rem .15rem;
                  }
                }

              }
            }
          }
        }
      }
    }
  }
}
.section-gap{position: relative; height:.4rem; line-height: .4rem; font-size: .14rem; color: #333; color: #1abc9c; border-bottom: .01rem solid #e1e1e1; margin: 0; padding: 0 .2rem;}
.section-gap .section-title{ color: #999; position: absolute; left:.2rem; top:0; height:100%; }
.section-gap .section-contain{margin-left: .8rem; padding-left: .1rem; height:100%;}
.section-gap .section-contain .input,.section-gap .section-contain input{ background: none; border: none; width:100%; height:100%;}
.radio-group li{padding-left:.2rem; background: url(../image/r_1.png) no-repeat left center; background-size: .15rem .15rem; float: left; width:.9rem; }
.radio-group li.active{background-image:url(../image/r_2.png); color: #1abc9c; }
.select-group .selected{}
.select-group .ul{display: none;}