@import "global";
body{
  .main{
    background: none; height: 100%;
    .inner{
      position: absolute; left:0; top:45%; width:100%; -webkit-transform: translateY(-50%);
      h2{
        background:url("../image/logo.png") no-repeat center bottom; background-size: contain; width:70%; margin: .2rem auto; height:1rem; padding: 0;
      }
      h3{
         border: 3px solid $gColor11; display: block; width:.8rem; height:.8rem; line-height: .8rem; border-radius: 50%; text-align: center;  margin: .4rem auto;
      }
      #code{
        position: relative; width:50%; margin: .1rem auto; padding-top: 50%; height:0;
        #canvas{
          position: absolute; left:0; top:0; width:100%; height:100%;
        }
      }

      p{
        color: $gColor3; text-align: center; font-size: .12rem;
      }
    }

  }
}

