@import "global";
@import "_btns";
@import "_users";
.result{
  h2{

  }
  h3.title{
    text-align: center;
    span{
      font-size: .16rem;
      line-height: 150%;
      color: $color3;
      display: inline-block;
    }
  }
  .userList{
    overflow: hidden;
    margin-bottom: .2rem;
    li{
      position: relative;
      width:25%;
      float: left;
      padding-bottom: 3%;
      text-align: center;
      p{
        text-align: center;
        position: absolute;
        left:0;
        top: 80%;
        width:100%;
        height:.2rem;
        line-height: .2rem;
        span{
          display: inline-block;
        }
      }
    }

  }
  .win{
    h3.title{
      span{
        color:$color4 ;
        padding-left: .3rem;
        background: url("../image/win.png") no-repeat left center;
        background-size: contain;
      }
    }
    .userList{
      li.zan span,li.zaned span{
        padding-left: .2rem;
        background: url("../image/mvp.png") no-repeat left center;
        background-size: contain;
      }
      li.zaned p span{
        background-image:url("../image/mvp_a.png") ;
      }
    }
  }
}

