@import "global";
@import "_btns";
@import "_users";
@import "_shenfen";
@import "_layer";
@import "animate";
@import "end";
.messageCenter{
  position: absolute; left:20%; top:20%; width: 60%; height:auto;
  .message{background: rgba(26,188,156,0.8); color: #fff; width:100%; padding: .1rem; font-size: .14rem; box-sizing: border-box; border-radius: 5px;
    h3{font-size: .16rem; }
  }
}