@charset "UTF-8";
._page, body .main {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

._verCenter, body .main .page .inner {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%); }

body, div, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, iframe, input, textarea, select, label, article, aside, footer, header, menu, nav, section, time, audio, video {
  margin: 0;
  padding: 0; }

article, aside, footer, header, nav, section, audio, canvas, video {
  display: block; }

html {
  font-size: 100px; }

@media screen and (min-width: 320px) and (orientation: portrait) {
  html {
    font-size: 80px; } }
@media screen and (min-width: 375px) and (orientation: portrait) {
  html {
    font-size: 100px; } }
@media screen and (min-width: 414px) and (orientation: portrait) {
  html {
    font-size: 120px; } }
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  overflow: auto;
  font-size: .16rem;
  line-height: 150%; }

textarea {
  resize: none; }

iframe, img {
  border: 0; }

ul, ol, ul li {
  list-style: none; }

input, select, textarea {
  outline: 0;
  -webkit-user-modify: read-write-plaintext-only; }

input {
  -webkit-appearance: none; }

a {
  text-decoration: none; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

.cf {
  *zoom: 1; }

h1, h2, h3 {
  font-weight: 100; }

i {
  font-style: normal; }

video {
  font-size: 0; }

._page, body .main {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

._verCenter, body .main .page .inner {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%); }

body {
  font-family: Helvetica, STHeiti, Droid Sans Fallback;
  color: #f1f1f1; }
  body .main {
    background: url("../image/night.jpg") no-repeat center;
    background-size: cover;
    overflow-y: auto; }
    body .main .page {
      position: relative;
      width: 100%;
      height: 100%; }
      body .main .page .inner .total {
        font-size: .2rem;
        padding-left: .15rem; }
    body .main h2 {
      font-size: .2rem;
      padding: .2rem 0;
      color: #f1f1f1;
      text-align: center; }
  body .main.day {
    background-image: url(../image/d.jpg); }
  body .main.night {
    background-image: url(../image/n.jpg); }

.simple_tips {
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  width: 2.6rem;
  line-height: 0.2rem;
  -webkit-transform: translate(-50%, -50%);
  padding: 0.2rem;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.75);
  color: #f1f1f1;
  border-radius: 5px;
  font-size: 0.14rem;
  text-align: center; }

.list li {
  background: rgba(36, 74, 111, 0.8);
  border-radius: 5px;
  width: 50%;
  display: block;
  margin: .3rem auto;
  height: .44rem;
  line-height: .44rem;
  font-size: .2rem;
  text-align: center;
  color: #f1f1f1; }

.comList {
  padding: .1rem; }
  .comList li {
    width: 100%;
    height: 1rem;
    margin-bottom: .1rem;
    background: url(../image/back/daozei.png) no-repeat right center #4ed2e7;
    background-size: auto 80%;
    padding-top: .14rem;
    padding-left: .2rem;
    box-sizing: border-box;
    border-radius: 5px; }
    .comList li p {
      color: #fff;
      font-size: .14rem;
      line-height: .24rem; }
  .comList li:nth-child(5n) {
    background-color: #4ed2e7; }
  .comList li:nth-child(5n+1) {
    background-color: #07bda7;
    background-image: url(../image/back/nvwu.png); }
  .comList li:nth-child(5n+2) {
    background-color: #4196cf;
    background-image: url(../image/back/daozei.png); }
  .comList li:nth-child(5n+3) {
    background-color: #3bca7b;
    background-image: url(../image/back/baichi.png); }
  .comList li:nth-child(5n+4) {
    background-color: #8d45a8; }

.tab-box {
  margin: .15rem;
  overflow: hidden;
  font-size: .16rem;
  line-height: 150%;
  color: #f1f1f1; }
  .tab-box h3 {
    font-size: .2rem;
    line-height: 150%; }
  .tab-box .tabs {
    clear: both;
    overflow: hidden; }
    .tab-box .tabs li {
      width: 33.33%;
      float: left; }
      .tab-box .tabs li a {
        display: block;
        width: 76%;
        height: 100%;
        margin: .15rem auto 0;
        border: 2px solid transparent;
        line-height: .3rem;
        border-radius: .15rem;
        text-align: center;
        background: rgba(36, 74, 111, 0.8); }
    .tab-box .tabs li.active a {
      border: 2px solid #f1f1f1; }

.num-set {
  position: relative;
  height: .3rem;
  padding-left: .2rem;
  margin-top: 0.15rem; }
  .num-set .input {
    position: absolute;
    right: .15rem;
    top: 0;
    height: 100%; }
  .num-set span, .num-set input {
    display: block;
    float: right;
    width: .3rem;
    height: .3rem;
    background-size: .2rem .2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(36, 74, 111, 0.8);
    box-sizing: border-box; }
  .num-set span {
    border-radius: 50%; }
  .num-set span.add {
    background-image: url(../image/add.png); }
  .num-set span.sub {
    background-image: url(../image/sub.png); }
  .num-set input {
    border-radius: 3px;
    border: none;
    background: none;
    text-align: center;
    font-size: .16rem;
    line-height: .3rem; }

.btn {
  display: block;
  width: 60%;
  height: .4rem;
  border-radius: 5px;
  margin: .1rem auto;
  line-height: .4rem;
  background: rgba(36, 74, 111, 0.8);
  text-align: center;
  font-size: .16rem;
  color: #f1f1f1; }

.btn.btn2 {
  background: #16a085; }

.btn.btn3 {
  background: #34495e; }

.btnWrap.twoCol {
  text-align: center; }
  .btnWrap.twoCol .btn {
    width: 40%;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%; }

.longPress {
  position: relative;
  overflow: hidden; }
  .longPress .process b {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: #1abc9c; }
  .longPress .text {
    position: relative;
    z-index: 2; }

.longPress.state-success .text {
  background: url("../image/success.png") no-repeat left center;
  background-size: 0.2rem auto;
  padding-left: .25rem;
  -webkit-transition: all .5s ease-in-out; }

.user-list {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; }
  .user-list li {
    position: absolute;
    -webkit-transform-origin: center center;
    opacity: 0; }
    .user-list li .user {
      width: 100%;
      height: 100%;
      -webkit-transform-origin: center center; }

.user {
  position: relative; }
  .user .level {
    width: 100%;
    height: 100%; }
    .user .level .inner:before, .user .level .star, .user .level .star:before, .user .level .num, .user .level .num:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center; }
    .user .level .inner {
      position: relative;
      text-align: center;
      padding: 12%;
      box-sizing: border-box;
      line-height: 0;
      background: none;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      width: 80%;
      height: 80%;
      margin: .1rem auto; }
      .user .level .inner .star {
        background-image: url(../image/level/l_b.png);
        z-index: 2; }
      .user .level .inner .num {
        background-image: url(../image/level/0_1_0.png);
        z-index: 2; }
      .user .level .inner .num1:before {
        background-image: url("../image/level/n1.png"); }
      .user .level .inner .num2:before {
        background-image: url("../image/level/n2.png"); }
      .user .level .inner .num3:before {
        background-image: url("../image/level/n3.png"); }
      .user .level .inner .num4:before {
        background-image: url("../image/level/n4.png"); }
      .user .level .inner .num5:before {
        background-image: url("../image/level/n5.png"); }
      .user .level .inner .num6:before {
        background-image: url("../image/level/n6.png"); }
      .user .level .inner .num7:before {
        background-image: url("../image/level/n7.png"); }
      .user .level .inner .num8:before {
        background-image: url("../image/level/n8.png"); }
      .user .level .inner .num9:before {
        background-image: url("../image/level/n9.png"); }
      .user .level .inner .num10:before {
        background-image: url("../image/level/n10.png"); }
      .user .level .inner .num11:before {
        background-image: url("../image/level/n11.png"); }
      .user .level .inner .num12:before {
        background-image: url("../image/level/n12.png"); }
      .user .level .inner .num13:before {
        background-image: url("../image/level/n13.png"); }
      .user .level .inner .num14:before {
        background-image: url("../image/level/n14.png"); }
      .user .level .inner .num15:before {
        background-image: url("../image/level/n15.png"); }
      .user .level .inner .head {
        width: 100%;
        height: 100%;
        position: relative; }
        .user .level .inner .head img {
          width: 100%;
          height: auto;
          margin: 0 auto;
          z-index: 2;
          position: relative; }
    .user .level .inner:before {
      background-image: url(../image/level/0.png); }
  .user .level1 .inner .num {
    background-image: url(../image/level/1_1_0.png); }
  .user .level1 .inner .star1:before {
    background-image: url("../image/level/1_1.png"); }
  .user .level1 .inner .star2:before {
    background-image: url("../image/level/1_2.png"); }
  .user .level1 .inner .star3:before {
    background-image: url("../image/level/1_3.png"); }
  .user .level1 .inner:before {
    background-image: url(../image/level/1.png); }
  .user .level2 .inner .num {
    background-image: url(../image/level/2_1_0.png); }
  .user .level2 .inner .star1:before {
    background-image: url("../image/level/1_1.png"); }
  .user .level2 .inner .star2:before {
    background-image: url("../image/level/1_2.png"); }
  .user .level2 .inner .star3:before {
    background-image: url("../image/level/1_3.png"); }
  .user .level2 .inner:before {
    background-image: url(../image/level/2.png); }
  .user .level3 .inner .num {
    background-image: url(../image/level/3_1_0.png); }
  .user .level3 .inner .star1:before {
    background-image: url("../image/level/1_1.png"); }
  .user .level3 .inner .star2:before {
    background-image: url("../image/level/1_2.png"); }
  .user .level3 .inner .star3:before {
    background-image: url("../image/level/1_3.png"); }
  .user .level3 .inner:before {
    background-image: url(../image/level/3.png); }
  .user .level4 .inner .num {
    background-image: url(../image/level/4_1_0.png); }
  .user .level4 .inner .star1:before {
    background-image: url("../image/level/1_1.png"); }
  .user .level4 .inner .star2:before {
    background-image: url("../image/level/1_2.png"); }
  .user .level4 .inner .star3:before {
    background-image: url("../image/level/1_3.png"); }
  .user .level4 .inner:before {
    background-image: url(../image/level/4.png); }
  .user .level5 .inner .num {
    background-image: url(../image/level/5_1_0.png); }
  .user .level5 .inner .star1:before {
    background-image: url("../image/level/1_1.png"); }
  .user .level5 .inner .star2:before {
    background-image: url("../image/level/1_2.png"); }
  .user .level5 .inner .star3:before {
    background-image: url("../image/level/1_3.png"); }
  .user .level5 .inner:before {
    background-image: url(../image/level/5.png); }
  .user .nick {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: .12rem;
    line-height: .12rem; }
  .user .designation {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: .12rem;
    line-height: .12rem; }

.userBack.user .level {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; }
  .userBack.user .level .inner {
    width: 40%;
    padding: 6%; }
.userBack.user .level1 {
  background-image: url(../image/level/1_0.png); }
.userBack.user .level2 {
  background-image: url(../image/level/2_0.png); }
.userBack.user .level3 {
  background-image: url(../image/level/3_0.png); }
.userBack.user .level4 {
  background-image: url(../image/level/4_0.png); }
.userBack.user .level5 {
  background-image: url(../image/level/5_0.png); }

/*user dead*/
.user.status .level {
  opacity: 0.8; }

.user.status .head img {
  visibility: hidden; }

.user.dead .head {
  background-image: url(../image/dead.png); }

.mine {
  position: absolute;
  left: 0;
  bottom: .1rem;
  width: 100%;
  height: auto; }
  .mine .user {
    width: 50%;
    margin: 0 auto; }
  .mine .identity, .mine .leader {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    width: .3rem;
    height: .45rem;
    background: url(../image/sf.png) no-repeat center;
    background-size: contain; }
  .mine .identity {
    left: .2rem; }
  .mine .leader {
    right: .2rem; }

.shenfen {
  background: url(../image/sf.png) no-repeat center bottom;
  background-size: contain; }

.shenfen.on.shenfen1 {
  background-image: url(../image/shenfen/pingmin.png); }

.shenfen.on.shenfen2 {
  background-image: url(../image/shenfen/langren.png); }

.shenfen.on.shenfen3 {
  background-image: url(../image/shenfen/yuyanjia.png); }

.shenfen.on.shenfen4 {
  background-image: url(../image/shenfen/nvwu.png); }

.shenfen.on.shenfen5 {
  background-image: url(../image/shenfen/lieren.png); }

.shenfen.on.shenfen6 {
  background-image: url(../image/shenfen/shouwei.png); }

.shenfen.on.shenfen7 {
  background-image: url(../image/shenfen/langwang.png); }

.shenfen.on.shenfen8 {
  background-image: url(../image/shenfen/bailangwang.png); }

.shenfen.on.shenfen9 {
  background-image: url(../image/shenfen/baichi.png); }

.shenfen.on.shenfen10 {
  background-image: url(../image/shenfen/qiubite.png); }

.shenfen.on.shenfen11 {
  background-image: url(../image/shenfen/daozei.png); }

/*qiangshenfen*/
.qiang {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none; }
  .qiang .inner {
    position: absolute;
    left: 5%;
    top: 50%;
    width: 90%;
    height: auto;
    -webkit-transform: translateY(-60%); }
    .qiang .inner h2 {
      text-align: center;
      font-size: .2rem;
      color: #fff;
      padding: .3rem 0; }
    .qiang .inner ul {
      position: relative;
      text-align: center; }
      .qiang .inner ul li {
        width: 33%;
        height: auto;
        float: left; }
        .qiang .inner ul li .shenfen {
          width: 80%;
          padding-top: 120%;
          height: 0;
          margin: 0 auto; }
        .qiang .inner ul li .price {
          text-align: center;
          margin-top: .1rem; }
          .qiang .inner ul li .price .yumi {
            position: relative;
            padding-left: .35rem;
            font-size: .16rem;
            line-height: .3rem;
            display: inline-block; }
          .qiang .inner ul li .price .yumi:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: .3rem;
            height: .3rem;
            background: url(../image/yumi2.png) no-repeat center;
            background-size: contain; }
      .qiang .inner ul li.unselect {
        opacity: 0.8; }
      .qiang .inner ul li.no {
        opacity: 0.7; }
        .qiang .inner ul li.no .price {
          color: #888; }
    .qiang .inner .countDown {
      position: absolute;
      left: 0;
      top: -0.2rem;
      width: 100%;
      font-size: .2rem;
      color: #fff;
      text-align: center;
      display: none; }
      .qiang .inner .countDown span {
        color: #f00;
        display: inline-block;
        width: .4rem; }

/*flex 布局*/
ul.flexBox1 {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between; }
  ul.flexBox1 li {
    width: 100%;
    position: relative; }

.layer {
  position: absolute;
  left: 10%;
  top: 50%;
  width: 80%;
  height: auto;
  z-index: 99;
  display: none;
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 2px solid #1abc9c;
  border-radius: 10px; }
  .layer .title {
    background: #1abc9c;
    color: #f1f1f1;
    text-align: center; }
  .layer .info {
    font-size: .16rem;
    color: #1abc9c;
    line-height: .2rem;
    text-align: center;
    padding: .1rem; }
  .layer .tips {
    color: #e74c3c;
    font-size: .16rem;
    text-align: center;
    line-height: .3rem; }
  .layer .content {
    overflow: hidden; }
  .layer .btn {
    margin: .2rem auto; }

.layer.layerSixCenter {
  left: 20%;
  width: 60%; }

.layer.layerShenfen {
  top: 10%;
  height: 80%;
  -webkit-transform: translateY(0);
  background: none;
  border: none;
  border-radius: 10px; }
  .layer.layerShenfen .title {
    background: none; }
  .layer.layerShenfen .content {
    position: absolute;
    left: 0;
    top: .6rem;
    bottom: .6rem;
    width: 100%;
    height: auto; }
  .layer.layerShenfen .btnWrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none; }
    .layer.layerShenfen .btnWrap .btn {
      margin-top: 0;
      margin-bottom: 0; }

.layer.layerEventChoose {
  left: 20%;
  width: 60%; }
  .layer.layerEventChoose .voteList {
    text-align: center; }
    .layer.layerEventChoose .voteList li {
      position: relative;
      width: 40%;
      height: 0;
      padding-top: 40%;
      display: inline-block; }
      .layer.layerEventChoose .voteList li .user {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
    .layer.layerEventChoose .voteList li.unchoose {
      box-shadow: 0px 0px 1px 0px #34495e; }

.layer.layerEventVoteResult .content .result {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #1abc9c;
  padding: .1rem .05rem .1rem 20%; }
  .layer.layerEventVoteResult .content .result .userNum {
    font-size: .14rem;
    color: #e74c3c;
    width: .24rem;
    height: .24rem;
    line-height: .24rem;
    border-radius: 50%;
    background: #f1f1f1;
    display: block;
    text-align: center;
    border: 1px solid #e74c3c; }
  .layer.layerEventVoteResult .content .result .left {
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%; }
    .layer.layerEventVoteResult .content .result .left .userNum {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%); }
    .layer.layerEventVoteResult .content .result .left .userNum.qi {
      border-color: #34495e;
      color: #34495e; }
  .layer.layerEventVoteResult .content .result .right {
    position: relative;
    width: 100%; }
    .layer.layerEventVoteResult .content .result .right ul {
      overflow: hidden;
      margin-left: .2rem; }
      .layer.layerEventVoteResult .content .result .right ul li {
        float: left;
        width: 20%; }
        .layer.layerEventVoteResult .content .result .right ul li .userNum {
          border-color: #1abc9c;
          color: #1abc9c;
          margin: .08rem auto; }
  .layer.layerEventVoteResult .content .result .right:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: .15rem;
    height: 100%;
    background: url(../image/jiantou.png) no-repeat center;
    background-size: contain; }

.layerUserInfo .infos {
  width: 75%;
  margin: 0 auto .1rem; }
  .layerUserInfo .infos li {
    font-size: .12rem;
    color: #000; }
    .layerUserInfo .infos li span {
      width: .8rem;
      display: inline-block;
      text-align: left;
      color: #16a085;
      text-align: right; }
    .layerUserInfo .infos li p {
      display: inline-block;
      color: #34495e; }

.messageCenter {
  position: absolute;
  left: 20%;
  padding-top: 20%;
  top: 1%;
  width: 60%;
  height: auto; }
  .messageCenter .message {
    background: rgba(26, 188, 156, 0.8);
    color: #fff;
    width: 100%;
    padding: .1rem;
    font-size: .14rem;
    box-sizing: border-box;
    border-radius: 5px; }
    .messageCenter .message h3 {
      font-size: .16rem; }

/*# sourceMappingURL=game.css.map */
