._page, body .main {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

._verCenter, body .main .page .inner {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%); }

body, div, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, iframe, input, textarea, select, label, article, aside, footer, header, menu, nav, section, time, audio, video {
  margin: 0;
  padding: 0; }

article, aside, footer, header, nav, section, audio, canvas, video {
  display: block; }

html {
  font-size: 80px; }

@media screen and (min-width: 320px) and (orientation: portrait) {
  html {
    font-size: 80px; } }
@media screen and (min-width: 375px) and (orientation: portrait) {
  html {
    font-size: 100px; } }
@media screen and (min-width: 414px) and (orientation: portrait) {
  html {
    font-size: 110px; } }
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  overflow: auto;
  font-size: .16rem;
  line-height: 150%;
  font-family: Microsoft YaHei, Helvetica, STHeiti, Droid Sans Fallback; }

textarea {
  resize: none; }

iframe, img {
  border: 0; }

ul, ol, ul li {
  list-style: none; }

input, select, textarea {
  outline: 0;
  -webkit-user-modify: read-write-plaintext-only; }

input {
  -webkit-appearance: none;
  background: none;
  border: none; }

a {
  text-decoration: none; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

.cf {
  *zoom: 1; }

h1, h2, h3 {
  font-weight: 100; }

i {
  font-style: normal; }

video {
  font-size: 0; }

[v-cloak] {
  display: none; }

._page, body .main {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

._verCenter, body .main .page .inner {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%); }

body {
  font-family: Microsoft YaHei, Helvetica, STHeiti, Droid Sans Fallback;
  color: #f1f1f1; }
  body .main {
    background: url("../image/n1.jpg") no-repeat center top;
    background-size: cover;
    overflow-y: auto; }
    body .main .page {
      position: relative;
      width: 100%;
      height: 100%; }
      body .main .page .inner .total {
        font-size: .2rem;
        padding-left: .15rem; }
    body .main h2 {
      font-size: .2rem;
      line-height: .24rem;
      padding: .2rem 0;
      color: #f1f1f1;
      text-align: center; }

.hide {
  display: none; }

.simple_tips {
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  width: 2.6rem;
  line-height: 0.2rem;
  -webkit-transform: translate(-50%, -50%);
  padding: 0.2rem;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.75);
  color: #f1f1f1;
  border-radius: 5px;
  font-size: 0.14rem;
  text-align: center; }

.list li {
  background: rgba(36, 74, 111, 0.8);
  border-radius: 5px;
  width: 50%;
  display: block;
  margin: .3rem auto;
  height: .44rem;
  line-height: .44rem;
  font-size: .2rem;
  text-align: center;
  color: #f1f1f1; }

.comList {
  padding: .1rem; }
  .comList li {
    width: 100%;
    height: 1rem;
    margin-bottom: .1rem;
    background: url(../image/back/daozei.png) no-repeat right center #4ed2e7;
    background-size: auto 80%;
    padding-top: .14rem;
    padding-left: .2rem;
    box-sizing: border-box;
    border-radius: 5px; }
    .comList li p {
      color: #fff;
      font-size: .14rem;
      line-height: .24rem; }
    .comList li:nth-child(5n) {
      background-color: #4ed2e7; }
    .comList li:nth-child(5n+1) {
      background-color: #07bda7;
      background-image: url(../image/back/nvwu.png); }
    .comList li:nth-child(5n+2) {
      background-color: #4196cf;
      background-image: url(../image/back/daozei.png); }
    .comList li:nth-child(5n+3) {
      background-color: #3bca7b;
      background-image: url(../image/back/baichi.png); }
    .comList li:nth-child(5n+4) {
      background-color: #8d45a8; }

.tab-box {
  margin: .15rem;
  overflow: hidden;
  font-size: .16rem;
  line-height: 150%;
  color: #f1f1f1; }
  .tab-box h3 {
    font-size: .2rem;
    line-height: 150%; }
  .tab-box .tabs {
    clear: both;
    overflow: hidden; }
    .tab-box .tabs li {
      width: 33.33%;
      float: left; }
      .tab-box .tabs li a {
        display: block;
        width: 76%;
        height: 100%;
        margin: .15rem auto 0;
        border: 2px solid transparent;
        line-height: .3rem;
        border-radius: .15rem;
        text-align: center;
        background: rgba(36, 74, 111, 0.8); }
      .tab-box .tabs li.active a {
        border: 2px solid #f1f1f1; }

.num-set {
  position: relative;
  height: .3rem;
  padding-left: .2rem;
  margin-top: 0.15rem; }
  .num-set .input {
    position: absolute;
    right: .15rem;
    top: 0;
    height: 100%; }
  .num-set span, .num-set input {
    display: block;
    float: right;
    width: .3rem;
    height: .3rem;
    background-size: .2rem .2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(36, 74, 111, 0.8);
    box-sizing: border-box; }
  .num-set span {
    border-radius: 50%; }
    .num-set span.add {
      background-image: url(../image/add.png); }
    .num-set span.sub {
      background-image: url(../image/sub.png); }
  .num-set input {
    border-radius: 3px;
    border: none;
    background: none;
    text-align: center;
    font-size: .16rem;
    line-height: .3rem; }

.btn {
  display: block;
  width: 60%;
  height: .4rem;
  border-radius: 5px;
  margin: .1rem auto;
  line-height: .4rem;
  background: rgba(36, 74, 111, 0.8);
  text-align: center;
  font-size: .16rem;
  color: #f1f1f1; }
  .btn.btn2 {
    background: #16a085; }
  .btn.btn3 {
    background: #34495e; }
  .btn.btn4 {
    background: #e74c3c; }

.btnWrap.twoCol {
  text-align: center; }
  .btnWrap.twoCol .btn {
    width: 40%;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%; }

.longPress {
  position: relative;
  overflow: hidden; }
  .longPress .process b {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%; }
  .longPress .text {
    position: relative;
    z-index: 2; }
  .longPress.state-success .text {
    background: url("../image/success.png") no-repeat left center;
    background-size: 0.2rem auto;
    padding-left: .25rem;
    -webkit-transition: all .5s ease-in-out; }
  .longPress.btn2 .process b {
    background: #1abc9c; }
  .longPress.btn4 .process b {
    background: #d34132; }

.userBtns {
  position: absolute;
  right: 0;
  bottom: 0;
  width: .8rem;
  height: .8rem;
  -webkit-transform: translateY(0%);
  background: url(../image/mine/c.png) center no-repeat;
  background-size: contain; }
  .userBtns a {
    display: none;
    width: 22.2%;
    height: 34%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .userBtns.active {
    background-image: url(../image/mine/ca.png);
    width: 1.5rem;
    height: 1.5rem; }
    .userBtns.active a {
      display: block; }
      .userBtns.active a:nth-child(1) {
        left: 20%;
        top: 59%;
        -webkit-transform: rotate(-72deg);
        background-image: url(../image/mine/b1.png); }
      .userBtns.active a:nth-child(2) {
        left: 20%;
        top: 31%;
        -webkit-transform: rotate(-46deg);
        background-image: url(../image/mine/b2.png); }
      .userBtns.active a:nth-child(3) {
        left: 37%;
        top: 14%;
        -webkit-transform: rotate(-43deg);
        background-image: url(../image/mine/b3.png); }
      .userBtns.active a:nth-child(4) {
        left: 67%;
        top: 14%;
        -webkit-transform: rotate(-19deg);
        background-image: url(../image/mine/b4.png); }
      .userBtns.active a:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
      .userBtns.active a.identity:before {
        background-image: url(../image/mine/4.png); }
      .userBtns.active a[event='SELF_DESTRUCT']:before {
        background-image: url(../image/mine/3.png); }
      .userBtns.active a[event='SELF_DESTRUCT']:before {
        background-image: url(../image/mine/3.png); }
      .userBtns.active a[event='GIVE_UP']:before {
        background-image: url(../image/mine/2.png); }
      .userBtns.active a[event='SPEAK_END']:before {
        background-image: url(../image/mine/1.png); }

/*# sourceMappingURL=game_set.css.map */
