@import "global";
@import "list";
@import "_num_set";
@import "_btns";
@import "_users";
@import "shenfen";
@import "_flex";
@import "_layer";
.messageCenter{position: absolute; left:20%; padding-top: 20%; top:1%; width: 60%; height:auto;}
.messageCenter .message{background: rgba(26,188,156,0.8); color: #fff; width:100%; padding: .1rem; font-size: .14rem; box-sizing: border-box; border-radius: 5px;}
.messageCenter .message h3{font-size: .16rem; }
