@import "global";
@import "_btns";
@import "_users";
@import "_shenfen";
@import "_layer";
@import "animate";
@import "end";
.main{
  &.day{
    background-image:url(../image/d.jpg); background-color:#68d6f6; background-size: 100% auto;
  }
  &.night{
    background-image:url(../image/n.jpg); background-color:#565fd4; background-size: 100% auto;
  }
}
.messageCenter{
  position: absolute; left:20%; top:0; width:60%; height:auto;
  .top{
    position: absolute; left:0; top:-.4rem; width:auto; background: rgba(36,74,111,0.5); padding: 0 .1rem; line-height: .3rem; border-radius:5px; display: inline-block; color: $color;
    span{
     padding: 0 .03rem; color: $color3;
    }
  }
  .dialog{
    position: relative; margin: .1rem 0; font-size: .14rem; line-height: 150%; background: rgba(36,74,111,0.5); border-radius: 5px;   padding: .1rem ;
    & .name{color:$color5 }
    & .name{color:$color3 }
    .message{color: $color; }
  }
  .voteResult{width:100%; display: none}
}