@charset "utf-8";
@import "_g_reset";
@import "_g_variable";
body {
  font-family: $fontStack;
  color: $gColor2;
  .main{
    @extend ._page;
    overflow-y: auto;
    //display:none;
    .page{
      position: relative;
      width:100%;
      height:100%;
      .inner{
        @extend ._verCenter;
        .total{
          font-size: .2rem;
          padding-left: .15rem;
        }
      }
    }
    h2{
      font-size: .2rem;
      line-height: .24rem;
      padding: .2rem 0;
      color: $gColor2;
      text-align: center;
    }
  }

}
.hide{
  display: none;
}
.simple_tips{
  position:fixed;
  z-index:999;
  left:50%;
  top:50%;
  width:2.6rem;
  line-height:0.2rem;
  -webkit-transform:translate(-50%,-50%);
  padding:0.2rem;
  box-sizing: border-box;
  background-color:$gColor9;
  color:$gColor2;
  border-radius:5px;
  font-size:0.14rem;
  text-align:center;
}





