@charset "utf-8";
@import "global";
@import "_users";
@import "animate";
@import "end";
body{
  background: #000;
  .main{
    position: absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    background: url("../sImage/bg.jpg") no-repeat center bottom;
    background-size: 100% auto;
    .gameInfo{
      position: absolute;
      left:0;
      top:0;
      width:100%;
      height:20%;
      .box{
        position: absolute;
        left:32.5%;
        top:0;
        width:35%;
        height:.35rem;
        background: url("../sImage/room.png") no-repeat center;
        background-size: 100% 100%;
        font-size: .18rem;
        line-height: .35rem;
        text-align: center;
      }
      .combinats{
        position: absolute;
        left: 3%;
        top: 18%;
        width: 37%;
        height: 45%;
        background: url(../sImage/ban.png) no-repeat right top;
        background-size: contain;
        line-height: .55rem;
        padding: 0 .6rem 0 .2rem;
        box-sizing: border-box;
        text-align: center;
        font-size: .14rem;
      }
    }
    .table{
      position: absolute;
      left:50%;
      bottom:0;
      width:100%;
      height:80%;
      background: url("../simage/c.png") no-repeat center top; background-size: 100% 100%;
      -webkit-transform:translateX(-50%);
      .num{
        position: absolute;
        left: 75%;
        top: -6%;
        width: 24%;
        height: 20%;
        background: url(../sImage/num.png) no-repeat left bottom;
        background-size: contain;
        padding-left: 8%;
        box-sizing: border-box;
        text-align: center;
        font-size: .14rem;
        line-height: .35rem;
      }
      .user-list{
        height:100%;
        li{
          position: absolute;
          left:0;
          top:0;
          width:.8rem;
          height:.8rem;
          margin-left: -.4rem;
          margin-top: -.4rem;
        }
        .user{
          position: absolute;
          left:0;
          top:0;
        }
      }
      .messageWrap{
        width: 54%;
        position: absolute;
        left: 23%;
        top: 37%;
        height: 47%;
        .day{
          text-align: center;
          width:100%;
          overflow: hidden;
          span{
            position: relative;
            padding: 0 .15rem;
            font-size: .18rem;
            line-height: .24rem;
            b{
              font-weight: bold;
              color: #e74c3c;
            }
            &:before,&:after{
              content: '';
              position: absolute;
              top:0;
              width:1rem;
              height:100%;
            }
            &:before{
              right:100%;
              background: url("../simage/t_l.png") no-repeat right center;
              background-size: contain;
            }
            &:after{
              left:100%;
              background: url("../simage/t_r.png") no-repeat left center;
              background-size: contain;
            }
          }
        }
        .message{
          position: absolute;
          left:0;
          bottom:0;
          background: url(../sImage/m.png) no-repeat center;
          background-size: 100% 100%;
          width: 100%;
          height: 1.9rem;
          padding: .12rem .25rem;
          box-sizing: border-box;
          margin-top: .2rem;
          h2{
            font-size: .21rem;
            line-height: 200%;
            color: #16afec;
            padding: 0;
            text-align: left;
            font-weight: bold;
          }
          p{
            font-size: .2rem;
            line-height: 160%;
            color: #369ffc;

          }
        }
      }
    }
    .audio{
      display: none;
    }
    .layerEventVoteResult{
      position: absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      display: none;
      &.active{
        background: rgba(0,0,0,0.7);
      }
      .inner{
        position: absolute;
        left:19%;
        top:10.5%;
        width:61%;
        height:83%;
        background: url("../sImage/lay.png") no-repeat center;
        background-size: 100% 100%;
        .title{
          font-size: .28rem;
          padding: .25rem 0;
          color: #f1f1f1;
          text-align: center;
        }
        .info{
          font-size: .2rem;
          line-height: 150%;
          text-align: center;
          padding-top: .1rem;
        }
        .content{
          margin: 0 .2rem;
          box-sizing: border-box;
          height: 3.9rem;
          overflow-y: auto;
          ul{
            padding: 0 .15rem;
            .result{
              position: relative; overflow: hidden; border-bottom:  1px solid #16afec; padding: .08rem .05rem .08rem 17.5%; box-sizing: border-box;
              .userNum{
                font-size: .28rem;
                color: $color;
                width:.6rem;
                height:.6rem;
                line-height: .6rem;
                border-radius: 50%;
                display: block;
                text-align: center;
              }
              .left{
                position: absolute; left:0; top:0; width:17.5%; height:100%;
                .userNum{
                  position: absolute; left:50%; top:50%; -webkit-transform: translate(-50%,-50%); background: url("../sImage/t.png") no-repeat center; background-size: contain;
                  &.qi{
                    background-image: url("../sImage/qi.png");
                  }
                }
              }
              .right{
                position: relative; width:100%;
                &:before{
                  content: ""; position: absolute; left:0; top:0; width:.3rem; height:100%;
                  background: url(../image/jiantou.png) no-repeat center; background-size: contain;
                }
                ul{
                  overflow: hidden; margin-left: .3rem;
                  li{
                    float: left; width:20%;
                    .userNum{background: url("../sImage/b.png") no-repeat center; background-size: contain;  margin: .08rem auto}
                  }
                }
              }
              &:last-child{
                border-bottom: none;
              }


            }
          }
          &.halfs{
            ul{
              .result{
                padding-top: .04rem;
                padding-bottom: .04rem;
                .userNum {
                  width: .4rem;
                  height: .4rem;
                  line-height: .4rem;
                  font-size: .22rem;
                }
                .right ul li{width: 12.5%;}
              }
            }

          }

          &.mins{
            ul{
              .result{
                float: left;
                width:46%;
                padding-left: .5rem;
                margin: 0 2%;
                .right ul li{
                  width: 33%;
                  .userNum {
                    margin: .04rem auto;
                  }
                }
                .userNum {
                  width: .4rem;
                  height: .4rem;
                  line-height: .4rem;
                  font-size: .22rem;
                }
                &.max{
                  width:100%;
                  .left{
                    width:.5rem;
                  }
                  .right ul li{
                    width: 12.5%;
                    .userNum {
                      margin: .04rem auto;
                    }
                  }
                }
                &:last-child{
                  border-bottom: 1px solid #16afec;
                }
              }
            }

          }
        }
      }
    }
    .gameResult{
      position: absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      display: none;
      &.active{
        background: rgba(0,0,0,0.7);
      }
      .inner{
        width: 50%;
        height: 50%;
        position: absolute;
        left: 25%;
        top: 25%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      &.TIE .inner{
        background-image: url("../sImage/w0.png");
      }

      &.WOLF_WIN .inner{
        background-image: url("../sImage/w1.png");
      }
      &.GOOD_WIN .inner{
        background-image: url("../sImage/w2.png");
      }
      &.THIRD_WIN .inner{
        background-image: url("../sImage/w3.png");
      }

    }
    .gameEnd{
      display: none;
      .endInner .result{
        h3.title {
          height: .8rem;
          top: -.5rem;
          line-height: .5rem;
          margin-top: 0;
          padding-top: 0;
        }
        .userList li{
          width:16.6%;
          padding-bottom: .2rem;
          .user{
            width: 80%;
            margin: 0 auto;
          }
        }
      }
    }
    .welcome{
      position: absolute;
      left: 0;
      top: 0;
      width:100%;
      height:100%;
      background: url("../sImage/welcome.png") no-repeat center;
      background-size:contain;
    }
  }

}

.scrollBar::-webkit-scrollbar {width:8px}
.scrollBar::-webkit-scrollbar-button {display:none}
.scrollBar::-webkit-scrollbar-button:vertical:end:increment {display:block;height:4px;}
.scrollBar::-webkit-scrollbar-track {height:200px;}
.scrollBar::-webkit-scrollbar-button:vertical:end:increment {background-color:#031d45;}
.scrollBar::-webkit-scrollbar-track {background-color:#031d45;}
.scrollBar::-webkit-scrollbar-track-piece:vertical:start {width:4px;background:#031d45}
.scrollBar::-webkit-scrollbar-track-piece:vertical:end {width:4px;background:#031d45}
.scrollBar::-webkit-scrollbar-thumb:vertical {background:#194990;cursor:pointer;}
.scrollBar {scrollbar-arrow-color:#194990;scrollbar-face-color:#194990;scrollbar-track-color:#031d45;scrollbar-highlight-color:#194990;scrollbar-3dlight-color:#616161;scrollbar-shadow-color:#194990;scrollbar-darkshadow-color:#616161; }


