@charset "utf-8";
@import "global";
@import "_users";
@import "animate";
@import "end";
body{
  background: #000;
  .main{
    position: absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    background: url("../sImage/bg.jpg") no-repeat center bottom;
    background-size: 100% auto;
  }
  .audio{
    display: none;
  }
}
.gameInfo{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:20%;
  .box{
    position: absolute;
    left:32.5%;
    top:0;
    width:35%;
    height:.35rem;
    background: url("../sImage/room.png") no-repeat center;
    background-size: 100% 100%;
    font-size: .18rem;
    line-height: .35rem;
    text-align: center;
  }
  .combinats{
    position: absolute;
    left: 3%;
    top: 18%;
    width: 37%;
    height: 45%;
    background: url(../sImage/ban.png) no-repeat right top;
    background-size: contain;
    line-height: .55rem;
    padding: 0 .6rem 0 .2rem;
    box-sizing: border-box;
    text-align: center;
    font-size: .14rem;
  }
}
.table{
  position: absolute;
  left:50%;
  bottom:0;
  width:100%;
  height:80%;
  background: url("../simage/c.png") no-repeat center top; background-size: 100% 100%;
  -webkit-transform:translateX(-50%);
  .num{
    position: absolute;
    left: 75%;
    top: -6%;
    width: 24%;
    height: 20%;
    background: url(../sImage/num.png) no-repeat left bottom;
    background-size: contain;
    padding-left: 8%;
    box-sizing: border-box;
    text-align: center;
    font-size: .14rem;
    line-height: .35rem;
  }
  .user-list{
    height:100%;
    li{
      position: absolute;
      left:0;
      top:0;
      width:.8rem;
      height:.8rem;
      margin-left: -.4rem;
      margin-top: -.4rem;
    }
    .user{
      position: absolute;
      left:0;
      top:0;
    }
  }
  .messageWrap{
    width: 54%;
    position: absolute;
    left: 23%;
    top: 37%;
    height: 47%;
    .day{
      text-align: center;
      width:100%;
      overflow: hidden;
      span{
        position: relative;
        padding: 0 .15rem;
        font-size: .18rem;
        line-height: .24rem;
        b{
          font-weight: bold;
          color: #e74c3c;
        }
        &:before,&:after{
          content: '';
          position: absolute;
          top:0;
          width:1rem;
          height:100%;
        }
        &:before{
          right:100%;
          background: url("../simage/t_l.png") no-repeat right center;
          background-size: contain;
        }
        &:after{
          left:100%;
          background: url("../simage/t_r.png") no-repeat left center;
          background-size: contain;
        }
      }
    }
    .message{
      position: absolute;
      left:0;
      bottom:0;
      background: url(../sImage/m.png) no-repeat center;
      background-size: 100% 100%;
      width: 100%;
      height: 1.9rem;
      padding: .12rem .25rem;
      box-sizing: border-box;
      margin-top: .2rem;
      h2{
        font-size: .21rem;
        line-height: 200%;
        color: #16afec;
        padding: 0;
        text-align: left;
        font-weight: bold;
      }
      p{
        font-size: .2rem;
        line-height: 160%;
        color: #369ffc;

      }
    }
  }
}

