@charset "UTF-8";
._page, body .main {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

._verCenter, body .main .page .inner {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%); }

body, div, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, iframe, input, textarea, select, label, article, aside, footer, header, menu, nav, section, time, audio, video {
  margin: 0;
  padding: 0; }

article, aside, footer, header, nav, section, audio, canvas, video {
  display: block; }

html {
  font-size: 80px; }

@media screen and (min-width: 320px) and (orientation: portrait) {
  html {
    font-size: 80px; } }
@media screen and (min-width: 375px) and (orientation: portrait) {
  html {
    font-size: 100px; } }
@media screen and (min-width: 414px) and (orientation: portrait) {
  html {
    font-size: 110px; } }
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  overflow: auto;
  font-size: .16rem;
  line-height: 150%;
  font-family: Microsoft YaHei, Helvetica, STHeiti, Droid Sans Fallback; }

textarea {
  resize: none; }

iframe, img {
  border: 0; }

ul, ol, ul li {
  list-style: none; }

input, select, textarea {
  outline: 0;
  -webkit-user-modify: read-write-plaintext-only; }

input {
  -webkit-appearance: none;
  background: none;
  border: none; }

a {
  text-decoration: none; }

.cf:after {
  content: "";
  display: table;
  clear: both; }

.cf {
  *zoom: 1; }

h1, h2, h3 {
  font-weight: 100; }

i {
  font-style: normal; }

video {
  font-size: 0; }

[v-cloak] {
  display: none; }

._page, body .main {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

._verCenter, body .main .page .inner {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%); }

body {
  font-family: Microsoft YaHei, Helvetica, STHeiti, Droid Sans Fallback;
  color: #f1f5fa; }
  body .main {
    overflow-y: auto; }
    body .main .page {
      position: relative;
      width: 100%;
      height: 100%; }
      body .main .page .inner .total {
        font-size: .2rem;
        padding-left: .15rem; }
    body .main h2 {
      font-size: .2rem;
      line-height: .24rem;
      padding: .2rem 0;
      color: #f1f5fa;
      text-align: center; }

.hide {
  display: none; }

.simple_tips {
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  width: 2.6rem;
  line-height: 0.2rem;
  -webkit-transform: translate(-50%, -50%);
  padding: 0.2rem;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  color: #f1f5fa;
  border-radius: 5px;
  font-size: 0.14rem;
  text-align: center; }

.user-list {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 3; }
  .user-list li {
    position: absolute;
    -webkit-transform-origin: center center;
    opacity: 0; }
    .user-list li .user {
      width: 100%;
      height: 100%;
      -webkit-transform-origin: center center; }
  .user-list.choosing .user {
    opacity: 0.5; }
    .user-list.choosing .user.canVote {
      opacity: 1;
      -webkit-animation: flash 1s infinite; }

.user {
  position: relative; }
  .user .level {
    width: 100%;
    height: 100%;
    border: .1px solid transparent; }
    .user .level .userInner:before, .user .level .star, .user .level .star:before, .user .level .num, .user .level .num:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center; }
    .user .level .userInner {
      position: relative;
      text-align: center;
      padding: 9%;
      box-sizing: border-box;
      line-height: 0;
      background: none;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      width: 80%;
      height: 80%;
      margin: 10% auto; }
      .user .level .userInner .num {
        background-image: url(../image/newLevel/0_1_0.png);
        z-index: 2; }
        .user .level .userInner .num b {
          display: none; }
      .user .level .userInner .num1:before {
        background-image: url("../image/newLevel/n1.png"); }
      .user .level .userInner .num2:before {
        background-image: url("../image/newLevel/n2.png"); }
      .user .level .userInner .num3:before {
        background-image: url("../image/newLevel/n3.png"); }
      .user .level .userInner .num4:before {
        background-image: url("../image/newLevel/n4.png"); }
      .user .level .userInner .num5:before {
        background-image: url("../image/newLevel/n5.png"); }
      .user .level .userInner .num6:before {
        background-image: url("../image/newLevel/n6.png"); }
      .user .level .userInner .num7:before {
        background-image: url("../image/newLevel/n7.png"); }
      .user .level .userInner .num8:before {
        background-image: url("../image/newLevel/n8.png"); }
      .user .level .userInner .num9:before {
        background-image: url("../image/newLevel/n9.png"); }
      .user .level .userInner .num10:before {
        background-image: url("../image/newLevel/n10.png"); }
      .user .level .userInner .num11:before {
        background-image: url("../image/newLevel/n11.png"); }
      .user .level .userInner .num12:before {
        background-image: url("../image/newLevel/n12.png"); }
      .user .level .userInner .num13:before {
        background-image: url("../image/newLevel/n13.png"); }
      .user .level .userInner .num14:before {
        background-image: url("../image/newLevel/n14.png"); }
      .user .level .userInner .num15:before {
        background-image: url("../image/newLevel/n15.png"); }
      .user .level .userInner .head {
        width: 100%;
        height: 100%;
        position: relative; }
        .user .level .userInner .head img {
          width: 100%;
          height: auto;
          margin: 0 auto;
          z-index: 2;
          position: relative; }
      .user .level .userInner .status {
        position: absolute;
        right: 2%;
        top: 1%;
        width: 100%;
        height: 33%;
        /**上警**/
        /**警长**/
        /**存活**/
        /**禁言**/
        /**白痴翻牌**/
        /**刀死**/
        /**毒死**/
        /**晚上殉情**/
        /**白天殉情**/
        /**殉情**/
        /**放逐**/
        /**开枪带走**/
        /**自爆**/
        /**炸弹人**/
        /**白痴超时死亡**/
        /**白狼王开枪带走**/
        /**白狼王自爆**/
        /**白狼王自爆**/ }
        .user .level .userInner .status b.state {
          position: relative;
          z-index: 9;
          width: 31%;
          height: 100%;
          float: right;
          margin-left: 2%;
          opacity: 0;
          -webkit-animation: fadeInRight 1s forwards;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center; }
        .user .level .userInner .status b.campaign {
          background-image: url(../image/state/s1.png); }
        .user .level .userInner .status b.sergeant {
          background-image: url(../image/state/s2.png); }
        .user .level .userInner .status b.SHUTUP {
          background-image: url(../image/state/s4.png); }
        .user .level .userInner .status b.IDIOT {
          background-image: url(../image/state/s5.png); }
        .user .level .userInner .status b.KNIFE {
          background-image: url(../image/state/s14.png); }
        .user .level .userInner .status b.POISON {
          background-image: url(../image/state/s15.png); }
        .user .level .userInner .status b.NIGHT_LOVE {
          background-image: url(../image/state/s17.png); }
        .user .level .userInner .status b.DAY_LOVE {
          background-image: url(../image/state/s16.png); }
        .user .level .userInner .status b.LOVE_DEAD {
          background-image: url(../image/state/s6.png); }
        .user .level .userInner .status b.EXILE {
          background-image: url(../image/state/s7.png); }
        .user .level .userInner .status b.SHOOT {
          background-image: url(../image/state/s8.png); }
        .user .level .userInner .status b.SELF_DESTRUCT {
          background-image: url(../image/state/s9.png); }
        .user .level .userInner .status b.BOMBERMAN {
          background-image: url(../image/state/s10.png); }
        .user .level .userInner .status b.IDIOT_TIMEOUT {
          background-image: url(../image/state/s11.png); }
        .user .level .userInner .status b.WHITE_SHOOT {
          background-image: url(../image/state/s12.png); }
        .user .level .userInner .status b.WHITE_SELF_DESTRUCT {
          background-image: url(../image/state/s13.png); }
        .user .level .userInner .status b.lover {
          background-image: url(../image/state/s18.png);
          display: none; }
      .user .level .userInner:before {
        background-image: url(../image/newLevel/0.png); }
  .user .level1 .userInner .num {
    background-image: url(../image/newLevel/1_1_0.png); }
  .user .level1 .userInner .star1 {
    background-image: url("../image/newLevel/1_1.png");
    z-index: 3; }
  .user .level1 .userInner .star2 {
    background-image: url("../image/newLevel/1_2.png");
    z-index: 3; }
  .user .level1 .userInner .star3 {
    background-image: url("../image/newLevel/1_3.png");
    z-index: 3; }
  .user .level1 .userInner:before {
    background-image: url(../image/newLevel/1.png); }
  .user .level2 .userInner .num {
    background-image: url(../image/newLevel/2_1_0.png); }
  .user .level2 .userInner .star1 {
    background-image: url("../image/newLevel/2_1.png");
    z-index: 3; }
  .user .level2 .userInner .star2 {
    background-image: url("../image/newLevel/2_2.png");
    z-index: 3; }
  .user .level2 .userInner .star3 {
    background-image: url("../image/newLevel/2_3.png");
    z-index: 3; }
  .user .level2 .userInner:before {
    background-image: url(../image/newLevel/2.png); }
  .user .level3 .userInner .num {
    background-image: url(../image/newLevel/3_1_0.png); }
  .user .level3 .userInner .star1 {
    background-image: url("../image/newLevel/3_1.png");
    z-index: 3; }
  .user .level3 .userInner .star2 {
    background-image: url("../image/newLevel/3_2.png");
    z-index: 3; }
  .user .level3 .userInner .star3 {
    background-image: url("../image/newLevel/3_3.png");
    z-index: 3; }
  .user .level3 .userInner:before {
    background-image: url(../image/newLevel/3.png); }
  .user .level4 .userInner .num {
    background-image: url(../image/newLevel/4_1_0.png); }
  .user .level4 .userInner .star1 {
    background-image: url("../image/newLevel/4_1.png");
    z-index: 3; }
  .user .level4 .userInner .star2 {
    background-image: url("../image/newLevel/4_2.png");
    z-index: 3; }
  .user .level4 .userInner .star3 {
    background-image: url("../image/newLevel/4_3.png");
    z-index: 3; }
  .user .level4 .userInner:before {
    background-image: url(../image/newLevel/4.png); }
  .user .level5 .userInner .num {
    background-image: url(../image/newLevel/5_1_0.png); }
  .user .level5 .userInner .star1 {
    background-image: url("../image/newLevel/5_1.png");
    z-index: 3; }
  .user .level5 .userInner .star2 {
    background-image: url("../image/newLevel/5_2.png");
    z-index: 3; }
  .user .level5 .userInner .star3 {
    background-image: url("../image/newLevel/5_3.png");
    z-index: 3; }
  .user .level5 .userInner:before {
    background-image: url(../image/newLevel/5.png); }
  .user[dead=true] {
    opacity: 0.8; }
    .user[dead=true] .head {
      background: url(../image/dead.png) no-repeat center;
      background-size: contain; }
      .user[dead=true] .head img {
        visibility: hidden; }
  .user .nick {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: .12rem;
    line-height: .12rem; }
  .user .designation {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: .12rem;
    line-height: .12rem; }
  .user.userBack .level {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; }
    .user.userBack .level .userInner {
      width: 46%;
      padding: 5%; }
  .user.userBack .level1 {
    background-image: url(../image/newLevel/1_0.png); }
  .user.userBack .level2 {
    background-image: url(../image/newLevel/2_0.png); }
  .user.userBack .level3 {
    background-image: url(../image/newLevel/3_0.png); }
  .user.userBack .level4 {
    background-image: url(../image/newLevel/4_0.png); }
  .user.userBack .level5 {
    background-image: url(../image/newLevel/5_0.png); }

/*情侣身份只有在投票和游戏结束才会显示在头像上*/
.choosing .user .level .userInner .status b.lover, .gameEnd .user .level .userInner .status b.lover {
  display: block;
  -webkit-animation: flash 1s 1s infinite; }

#game .mine {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: .8rem; }
  #game .mine .userWrap {
    width: 70%; }
    #game .mine .userWrap .user {
      width: 35%;
      overflow: hidden;
      float: left; }
    #game .mine .userWrap .info {
      float: left;
      padding-top: 10%; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes flash {
  0%,100% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 1;
    transform: scale(1.1); } }
@-moz-keyframes flash {
  0%,100% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 1;
    transform: scale(1.1); } }
@-o-keyframes flash {
  0%,100% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 1;
    transform: scale(1.1); } }
@keyframes flash {
  0%,100% {
    opacity: 1;
    transform: scale(1); }
  50% {
    opacity: 1;
    transform: scale(1.1); } }
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: scale(0) translateX(100%); }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0); } }
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: scale(0) translateX(100%); }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0); } }
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: scale(0) translateX(100%); }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: scale(0) translateX(100%); }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0); } }
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }
@-webkit-keyframes seal {
  0% {
    opacity: .5;
    transform: translate(-20%, -20%) scale(3) rotate(-23deg); }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1) rotate(-23deg); } }
@-moz-keyframes seal {
  0% {
    opacity: .5;
    transform: translate(-20%, -20%) scale(3) rotate(-23deg); }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1) rotate(-23deg); } }
@-o-keyframes seal {
  0% {
    opacity: .5;
    transform: translate(-20%, -20%) scale(3) rotate(-23deg); }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1) rotate(-23deg); } }
@keyframes seal {
  0% {
    opacity: .5;
    transform: translate(-20%, -20%) scale(3) rotate(-23deg); }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1) rotate(-23deg); } }
body {
  background: #000; }
  body .main {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    background: url("../sImage/bg.jpg") no-repeat center bottom;
    background-size: 100% auto;
    height: auto; }
    body .main .gameInfo {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 20%; }
      body .main .gameInfo .box {
        position: absolute;
        left: 32.5%;
        top: 0;
        width: 35%;
        height: .35rem;
        background: url("../sImage/room.png") no-repeat center;
        background-size: 100% 100%;
        font-size: .18rem;
        line-height: .35rem;
        text-align: center; }
      body .main .gameInfo .combinats {
        position: absolute;
        left: 3%;
        top: 18%;
        width: 37%;
        height: 45%;
        background: url(../sImage/ban.png) no-repeat right top;
        background-size: contain; }
        body .main .gameInfo .combinats p {
          position: absolute;
          left: 0;
          width: 88%;
          bottom: 38%;
          text-align: center;
          line-height: .2rem;
          font-size: .14rem;
          text-align: center; }
    body .main .table {
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 85%;
      background: url("../sImage/c0.png") no-repeat center top;
      background-size: 100% 100%;
      -webkit-transform: translateX(-50%); }
      body .main .table .combinationName {
        position: absolute;
        left: 75%;
        top: -6.5%;
        width: 24%;
        height: 20%;
        background: url(../sImage/num.png) no-repeat left bottom;
        background-size: contain;
        padding-left: 8%;
        box-sizing: border-box;
        text-align: center;
        font-size: .14rem;
        line-height: .35rem; }
        body .main .table .combinationName .count {
          position: absolute;
          left: 35%;
          top: 36%;
          width: 65%;
          height: 50%; }
      body .main .table .user-list {
        height: 100%; }
        body .main .table .user-list li {
          position: absolute;
          left: 0;
          top: 0;
          width: .9rem;
          height: .9rem;
          margin-left: -.45rem;
          margin-top: -.45rem; }
        body .main .table .user-list .user {
          position: absolute;
          left: 0;
          top: 0; }
          body .main .table .user-list .user .num b {
            font-size: .2rem;
            color: #f1f5fa;
            border: 1px solid #16afec;
            border-radius: 50%;
            display: none;
            width: .25rem;
            height: .25rem;
            line-height: .25rem;
            position: absolute;
            left: 0;
            bottom: 0rem; }
      body .main .table .messageWrap {
        width: 54%;
        position: absolute;
        left: 23%;
        top: 41%;
        height: 47%; }
        body .main .table .messageWrap .day {
          text-align: center;
          width: 100%;
          overflow: hidden; }
          body .main .table .messageWrap .day span {
            position: relative;
            padding: 0 .15rem;
            font-size: .18rem;
            line-height: .24rem; }
            body .main .table .messageWrap .day span b {
              font-weight: bold;
              color: #e74c3c; }
            body .main .table .messageWrap .day span:before, body .main .table .messageWrap .day span:after {
              content: '';
              position: absolute;
              top: 0;
              width: 1rem;
              height: 100%; }
            body .main .table .messageWrap .day span:before {
              right: 100%;
              background: url("../simage/t_l.png") no-repeat right center;
              background-size: contain; }
            body .main .table .messageWrap .day span:after {
              left: 100%;
              background: url("../simage/t_r.png") no-repeat left center;
              background-size: contain; }
        body .main .table .messageWrap .message {
          position: absolute;
          left: 0;
          bottom: 0;
          background: url(../sImage/m.png) no-repeat center;
          background-size: 100% 100%;
          width: 100%;
          height: 1.9rem;
          padding: .12rem .25rem;
          box-sizing: border-box;
          margin-top: .2rem; }
          body .main .table .messageWrap .message h2 {
            font-size: .21rem;
            line-height: 200%;
            color: #16afec;
            padding: 0;
            text-align: left;
            font-weight: bold; }
          body .main .table .messageWrap .message p {
            font-size: .2rem;
            line-height: 160%;
            color: #369ffc; }
            body .main .table .messageWrap .message p b {
              font-size: .3rem;
              color: #e74c3c; }
      body .main .table .countDown {
        position: absolute;
        left: 0;
        top: 8%;
        line-height: .5rem;
        width: 20%;
        text-align: center;
        font-size: .4rem;
        color: #e74c3c; }
    body .main .audio {
      display: none; }
    body .main .layerEventVoteResult {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: none; }
      body .main .layerEventVoteResult.active {
        background: rgba(0, 0, 0, 0.7); }
      body .main .layerEventVoteResult .inner {
        position: absolute;
        left: 19%;
        top: 10.5%;
        width: 61%;
        height: 83%;
        background: url("../sImage/lay.png") no-repeat center;
        background-size: 100% 100%; }
        body .main .layerEventVoteResult .inner .title {
          font-size: .28rem;
          padding: .25rem 0;
          color: #f1f5fa;
          text-align: center; }
        body .main .layerEventVoteResult .inner .info {
          font-size: .2rem;
          line-height: 150%;
          text-align: center;
          padding-top: .1rem; }
          body .main .layerEventVoteResult .inner .info b {
            color: #e74c3c;
            font-size: .22rem;
            padding: 0 .05rem; }
        body .main .layerEventVoteResult .inner .content {
          margin: 0 .2rem;
          box-sizing: border-box;
          height: 3.9rem;
          overflow-y: auto; }
          body .main .layerEventVoteResult .inner .content ul {
            padding: 0 .15rem; }
            body .main .layerEventVoteResult .inner .content ul .result {
              position: relative;
              overflow: hidden;
              border-bottom: 1px solid #16afec;
              padding: .08rem .05rem .08rem 17.5%;
              box-sizing: border-box; }
              body .main .layerEventVoteResult .inner .content ul .result .userNum {
                font-size: .28rem;
                color: #f1f5fa;
                width: .6rem;
                height: .6rem;
                line-height: .6rem;
                border-radius: 50%;
                display: block;
                text-align: center; }
              body .main .layerEventVoteResult .inner .content ul .result .left {
                position: absolute;
                left: 0;
                top: 0;
                width: 17.5%;
                height: 100%; }
                body .main .layerEventVoteResult .inner .content ul .result .left .userNum {
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  -webkit-transform: translate(-50%, -50%);
                  background: url("../sImage/t.png") no-repeat center;
                  background-size: contain; }
                  body .main .layerEventVoteResult .inner .content ul .result .left .userNum.qi {
                    background-image: url("../sImage/qi.png"); }
              body .main .layerEventVoteResult .inner .content ul .result .right {
                position: relative;
                width: 100%; }
                body .main .layerEventVoteResult .inner .content ul .result .right:before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: .3rem;
                  height: 100%;
                  background: url(../image/jiantou.png) no-repeat center;
                  background-size: contain; }
                body .main .layerEventVoteResult .inner .content ul .result .right ul {
                  overflow: hidden;
                  margin-left: .3rem; }
                  body .main .layerEventVoteResult .inner .content ul .result .right ul li {
                    position: relative;
                    float: left;
                    width: 20%; }
                    body .main .layerEventVoteResult .inner .content ul .result .right ul li .userNum {
                      background: url("../sImage/b.png") no-repeat center;
                      background-size: contain;
                      margin: 0.08rem auto; }
                    body .main .layerEventVoteResult .inner .content ul .result .right ul li .sergean {
                      position: absolute;
                      right: 0;
                      bottom: 0;
                      width: 45%;
                      height: 45%;
                      border: none;
                      background: url(../image/state/s2.png) no-repeat right bottom;
                      background-size: contain; }
              body .main .layerEventVoteResult .inner .content ul .result:last-child {
                border-bottom: none; }
          body .main .layerEventVoteResult .inner .content.halfs ul .result {
            padding-top: .04rem;
            padding-bottom: .04rem; }
            body .main .layerEventVoteResult .inner .content.halfs ul .result .userNum {
              width: .4rem;
              height: .4rem;
              line-height: .4rem;
              font-size: .22rem; }
            body .main .layerEventVoteResult .inner .content.halfs ul .result .right ul li {
              width: 12.5%; }
          body .main .layerEventVoteResult .inner .content.mins ul .result {
            float: left;
            width: 46%;
            padding-left: .5rem;
            margin: 0 2%; }
            body .main .layerEventVoteResult .inner .content.mins ul .result .right ul li {
              width: 33%; }
              body .main .layerEventVoteResult .inner .content.mins ul .result .right ul li .userNum {
                margin: .04rem auto; }
            body .main .layerEventVoteResult .inner .content.mins ul .result .userNum {
              width: .4rem;
              height: .4rem;
              line-height: .4rem;
              font-size: .22rem; }
            body .main .layerEventVoteResult .inner .content.mins ul .result.max {
              width: 100%; }
              body .main .layerEventVoteResult .inner .content.mins ul .result.max .left {
                width: .5rem; }
              body .main .layerEventVoteResult .inner .content.mins ul .result.max .right ul li {
                width: 12.5%; }
                body .main .layerEventVoteResult .inner .content.mins ul .result.max .right ul li .userNum {
                  margin: .04rem auto; }
            body .main .layerEventVoteResult .inner .content.mins ul .result:last-child {
              border-bottom: 1px solid #16afec; }
      body .main .layerEventVoteResult .countDown {
        display: none; }
    body .main .gameResult {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: none; }
      body .main .gameResult.active {
        background: rgba(0, 0, 0, 0.7); }
      body .main .gameResult .inner {
        width: 50%;
        height: 50%;
        position: absolute;
        left: 25%;
        top: 25%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; }
      body .main .gameResult.TIE .inner {
        background-image: url("../sImage/w0.png"); }
      body .main .gameResult.WOLF_WIN .inner {
        background-image: url("../sImage/w1.png"); }
      body .main .gameResult.GOOD_WIN .inner {
        background-image: url("../sImage/w2.png"); }
      body .main .gameResult.THIRD_WIN .inner {
        background-image: url("../sImage/w3.png"); }
    body .main .welcome {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../sImage/welcome.png") no-repeat center;
      background-size: contain; }
  body .gameEnd {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #092e63;
    z-index: 9;
    display: none; }
    body .gameEnd .endInner {
      padding-top: .2rem; }
      body .gameEnd .endInner .resultInfo {
        color: #f1f5fa;
        width: 9rem;
        margin: 0 auto;
        line-height: .2rem; }
        body .gameEnd .endInner .resultInfo span {
          padding-left: .25rem;
          background: url("../image/time.png") no-repeat left center;
          background-size: contain; }
          body .gameEnd .endInner .resultInfo span.endTime {
            float: right;
            background-image: url("../image/clock.png"); }
      body .gameEnd .endInner .result {
        position: relative;
        width: 9rem;
        margin: .1rem auto 0;
        border-radius: 5px;
        box-sizing: border-box;
        padding: .12rem; }
        body .gameEnd .endInner .result:before, body .gameEnd .endInner .result:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: contain; }
        body .gameEnd .endInner .result h3.title {
          position: absolute;
          top: 0;
          text-align: center;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          color: #ffffff;
          height: 0; }
          body .gameEnd .endInner .result h3.title span {
            font-size: .16rem;
            line-height: 100%;
            position: absolute;
            left: 0;
            top: 37%;
            width: 100%;
            text-align: center;
            -webkit-transform: translateY(-50%); }
        body .gameEnd .endInner .result .userList {
          overflow: hidden;
          padding: 0.3rem 0.16rem; }
          body .gameEnd .endInner .result .userList li {
            position: relative;
            width: auto;
            float: left;
            text-align: center; }
            body .gameEnd .endInner .result .userList li .user {
              width: .93rem;
              margin: 0 auto; }
            body .gameEnd .endInner .result .userList li p {
              text-align: center;
              width: 100%;
              height: .2rem;
              line-height: .2rem;
              overflow: hidden; }
              body .gameEnd .endInner .result .userList li p span {
                display: inline-block;
                color: #f1f5fa;
                font-size: .14rem;
                white-space: nowrap; }
              body .gameEnd .endInner .result .userList li p b {
                color: #16afec;
                font-size: .14rem;
                font-weight: normal; }
            body .gameEnd .endInner .result .userList li.mvp:before {
              content: "";
              position: absolute;
              right: 0;
              bottom: 25%;
              width: 60%;
              height: 25%;
              background: url("../image/mvp2.png") no-repeat right bottom;
              background-size: contain;
              z-index: 9;
              -webkit-animation: seal .5s forwards; }
        body .gameEnd .endInner .result.win {
          margin-top: .4rem;
          border-color: #e8685b; }
          body .gameEnd .endInner .result.win h3.title {
            background-image: url("../sImage/w.png");
            width: 38%;
            padding-top: 27.5%;
            margin-top: -12%;
            left: -11%; }
          body .gameEnd .endInner .result.win .userList {
            background: url("../sImage/w_c.png") no-repeat center;
            background-size: 100% 100%; }
          body .gameEnd .endInner .result.win:before {
            background-image: url("../sImage/w_l.png");
            background-position: left bottom; }
          body .gameEnd .endInner .result.win:after {
            background-image: url("../sImage/w_r.png");
            background-position: right top; }
        body .gameEnd .endInner .result.lose {
          margin-top: .4rem;
          border-color: #e8685b; }
          body .gameEnd .endInner .result.lose h3.title {
            background-image: url("../sImage/l.png");
            width: 14%;
            padding-top: 11%;
            margin-top: -4%;
            right: 1%; }
          body .gameEnd .endInner .result.lose .userList {
            background: url("../sImage/l_c.png") no-repeat center;
            background-size: 100% 100%; }
          body .gameEnd .endInner .result.lose:before {
            background-image: url("../sImage/l_l.png");
            background-position: left top; }
          body .gameEnd .endInner .result.lose:after {
            background-image: url("../sImage/l_r.png");
            background-position: right bottom; }

#s_login {
  left: 0;
  top: 0;
  -webkit-transform: translate(0, 0);
  height: 100%;
  background-size: cover; }
  #s_login .login {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    width: 4.1rem;
    padding: 0.25rem 0 0.4rem;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #f1f5fa;
    border-radius: 10px; }
    #s_login .login .input {
      width: 70%;
      height: .4rem;
      line-height: .4rem;
      border: 1px solid #f1f5fa;
      margin: .3rem auto 0; }
      #s_login .login .input input {
        width: 100%;
        height: 100%;
        border: none;
        background: none;
        font-size: .16rem;
        color: #34495e;
        padding: 0 .1rem; }
    #s_login .login .btn {
      position: absolute;
      left: 32%;
      bottom: -.2rem;
      width: 36%;
      height: .4rem;
      line-height: .4rem;
      border-radius: 5px;
      font-size: .16rem;
      text-align: center;
      background: #16afec;
      color: #ffffff;
      cursor: pointer; }
    #s_login .login .mess {
      font-size: .14rem;
      color: #e74c3c;
      text-align: center;
      height: .2rem;
      line-height: .2rem;
      margin-top: .2rem; }

.logout {
  font-size: .2rem;
  color: #16afec;
  line-height: .3rem;
  position: absolute;
  right: 2%;
  top: 1%;
  opacity: 0;
  cursor: pointer;
  z-index: 9; }
  .logout:hover {
    opacity: 1; }

.scrollBar::-webkit-scrollbar {
  width: 8px; }

.scrollBar::-webkit-scrollbar-button {
  display: none; }

.scrollBar::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
  height: 4px; }

.scrollBar::-webkit-scrollbar-track {
  height: 200px; }

.scrollBar::-webkit-scrollbar-button:vertical:end:increment {
  background-color: #031d45; }

.scrollBar::-webkit-scrollbar-track {
  background-color: #031d45; }

.scrollBar::-webkit-scrollbar-track-piece:vertical:start {
  width: 4px;
  background: #031d45; }

.scrollBar::-webkit-scrollbar-track-piece:vertical:end {
  width: 4px;
  background: #031d45; }

.scrollBar::-webkit-scrollbar-thumb:vertical {
  background: #194990;
  cursor: pointer; }

.scrollBar {
  scrollbar-arrow-color: #194990;
  scrollbar-face-color: #194990;
  scrollbar-track-color: #031d45;
  scrollbar-highlight-color: #194990;
  scrollbar-3dlight-color: #616161;
  scrollbar-shadow-color: #194990;
  scrollbar-darkshadow-color: #616161; }

/*# sourceMappingURL=screen.css.map */
