@charset "utf-8";
@import "users";
@import "_wx";
body{
  background: $wxColor2;
  .main{
    background: $wxColor2;
    padding-top: 0;
    .userCenter{
      width:80%;
      margin: 0 auto;
      padding-bottom: .12rem;
      .top{
        width:55%;
        margin:0 auto;
        padding: .1rem 0;
        .nickname{
          text-align: center;
        }
      }
    }



    .layerWrap{
      .orderDetail{
        bottom:.6rem;
      }
    }
    .list{
      li{
        width:100%;
        a{
          display: block;  height:.4rem; line-height: .4rem; font-size: .14rem; color: $wxColor7; border-bottom: 1px solid $wxColor3; padding-left: .1rem; background: url("../wxImage/list.png") no-repeat right center; background-size: contain;
        }
      }
    }
  }
}
