@charset "utf-8";
@import "_wx";
@import "_wx_records";
@import "end";
@import "users";
body{
  background: $wxColor2;
  .main{
    background: $wxColor2;
    width:100%;
    overflow-x: hidden;
    .header{
      margin-bottom: 0;
    }
    .container{
      position: absolute; left: 0; bottom:0; top:.55rem; width:100%;
      .records{
        position: relative; width:100%; height:100%; overflow: hidden;
      }
    }
  }
}