@charset "utf-8";
@import "users";
@import "wx";
@import "_wx_order";
@import "_wx_card";
body{
  .main{
    background: $wxColor2;
    .orderSubmit{
      position: absolute; left:0; top:.55rem; bottom:.55rem; overflow-y: auto; width:100%; background: $wxColor2;
    }
    .enabledVoucher .card{
      .right{
        background: url("../wxImage/r.png") no-repeat 93% center;
        background-size: .3rem;
      }
      &.active .right{
        background-image: url("../wxImage/r_on.png");
      }
    }
    .layerNavContent{
      bottom: .5rem;
      .bd{
        padding: 0 .1rem;
        .card{
          .use{
            display: none;
          }
        }
      }
    }
    .layerNavBottom{
      .btn{
        background: $wxColor9; border: none; color: $wxColor1; width:80%; text-align: center; display: block; margin: 0 auto; height: .4rem; line-height: .4rem;
      }
    }
    .footer{
      text-align: right;
      .btn.btn1{
        height:.55rem; line-height: .55rem; width:1rem; text-align: center; color: $wxColor1; background: $wxColor11; display: inline-block;
      }
      .total{font-size: .16rem; color: $wxColor11; padding-right: .1rem;}
    }
  }

}