@charset "utf-8";
@import "users";
@import "_wx";
body{
  .main{
    padding-top: 0;
    .header{
      margin-bottom: 0;
    }
    .userCenter{
      width:80%;
      margin: 0 auto;
      padding-bottom: .12rem;
      .top{
        width:55%;
        margin:0 auto;
        padding: .1rem 0;
        .nickname{
          text-align: center;
        }
      }
    }

    .list{
      li{
        width:100%; background: $wxColor1;
        a{
          display: block;  height:.5rem; line-height: .5rem; font-size: .16rem; color: $wxColor7; border-bottom: 1px solid $wxColor3; padding-left: .1rem; background: url("../wxImage/list.png") no-repeat right center; background-size: .4rem .4rem;
        }
      }
    }
    .btn.logout{
      position: fixed; bottom:.75rem; left:5%;  height:.4rem; width:90%; line-height: .4rem; color: $wxColor1; background: $wxColor11; text-align: center; display: block; border-radius: 5px;
    }
  }
}
