@charset "utf-8";
@import "_wx";
.achievement{
  ul{
    li{
      margin-bottom: .1rem;
      background: $wxColor1;
      overflow: hidden;
      padding: .1rem;
      color: $wxColor7;
      .fl{
        width:1.5rem;
        h3{
          font-size: .2rem;
          line-height: 150%;
          color: $wxColor9;
          font-weight: bold;
        }
        p{
          font-size: .14rem;
        }
      }
      .info{
        margin-left: 1.5rem;
        padding-top: .05rem;

        .pro{
          position: relative;
          width:100%;
          background: $wxColor3;
          border-radius: .03rem;
          height: .16rem;
          line-height: .16rem;
          margin-left: .05rem;
          margin-top:.02rem;
          b{
            position: absolute;
            left: 0;
            top:0;
            width:0;
            height:100%;
            background: $wxColor9;
            border-radius: .03rem;

          }
          i{
            position: relative;
            display: block;
            text-align: center;
            color: $wxColor7;
            font-size: .12rem;
            z-index: 2;
          }
        }
        p{
          text-align: center;
          font-size: .14rem;
        }
      }

    }
  }
}