@charset "utf-8";
@import "wx_mine";

.barSWrap{
  padding-top: .05rem;
  .hd{
    display: -webkit-box;
    display: -moz-box;
    display: box;
    height:.4rem;
    li{
      height: .35rem;
      line-height: .35rem;
      width:1%;
      -webkit-box-flex:1 ;
      -moz-box-flex: 1;
      box-flex: 1;
      word-break: break-all;
      text-align: center;
      font-size: .14rem;
      span{
        display: inline-block;
      }
      &.on{
        span{
          background: $wxColor9; color: $wxColor1; line-height: .25rem; margin: .05rem; padding: 0 .1rem;
        }

      }
    }
  }
}

.ranking{
  ul{
    position: relative; padding-top: 47%; overflow: hidden;background: url("../wxImage/bg.png") no-repeat top center; background-size: 100% auto;
    &.none{
      background: none;
    }
    li{
      height: .5rem; line-height: .5rem; padding: .1rem 0; border-top: 1px solid $wxColor3; background: $wxColor1; font-size: .16rem; color: $wxColor7; text-align: center;
      .num{
        float: left; width:.8rem; text-align: center;
      }
      .value{
        float: right;  text-align: center; color: $wxColor9; width:1rem; font-size: .15rem;
      }
      .user{
        margin: 0 1rem;
        .head{
          width:.5rem; height:.5rem; float: left;
          img{
            width:100%; height:100%;
          }
        }
        .name{
          float: left; margin-left: .1rem;
        }
      }
      &:nth-child(1),&:nth-child(2),&:nth-child(3){
        position: absolute; top:0; width:33%; background: none; padding-top: .2rem; height:auto; border: none; font-size: .18rem; line-height: .3rem;
        .num{
          display: none;
        }
        .user,.value,.name{
          width:100%; margin: 0 auto; float: none; text-align: center;
        }
        .head{
          position: relative; width:75%; height:auto; margin: 0 auto; border: 2px solid $wxColor4; border-radius: 50%; line-height: 0; float: none;

          &:before{
            position: absolute; right:-15%; top:-15%; content: ""; width:50%; height:50%; background: url("../wxImage/i1.png") no-repeat center; background-size: contain;
          }
          &:after{
            position: absolute; left:-10%; bottom:-12%; content: ""; width:120%; height:120%; background: url("../wxImage/i4.png") no-repeat center bottom; background-size: contain;
          }
        }
        //p{
        //  position: relative; width:100%; height:auto; float:none; line-height: .25rem; font-size: .16rem;
        //
        //
        //
        //}

      }
      &:nth-child(1){
        left:33%;
      }
      &:nth-child(2){
        left:0; margin-top:5%; font-size: .16rem; line-height: .24rem;
        .head{
          width:65%;
          &:before{
            background-image: url("../wxImage/i2.png");
          }
          &:after{
            background-image: url("../wxImage/i5.png");
          }
        }

      }
      &:nth-child(3){
        left:66%; margin-top:5%; font-size: .16rem; line-height: .24rem;
        .head{
          width:60%;
          &:before{
            background-image: url("../wxImage/i3.png");
          }
          &:after{
            background-image: url("../wxImage/i6.png");
          }
        }
      }
    }
  }

}