@charset "utf-8";
@import "users";
@import "wx";
body{
  .main{
    .importantMess{
      margin: .1rem;
      p{
        background: url("../wxImage/point.png") no-repeat left top;
        background-size: .2rem .2rem;
        line-height: .2rem;
        color: $wxColor11;
        font-size:.14rem ;
        padding-left: .25rem;

      }
    }
   .userCenterWrap{
     min-height: 1rem;
     .userCenter{
       position: relative;
       padding: .1rem 0;
       overflow: hidden;

       .left{
         float: left;
         width:30%;
         .user{
           width:100%;
         }
       }
       .right{
         position: absolute;
         top:50%;
         left:30%;
         right:.1rem;
         -webkit-transform: translateY(-50%);


       }
     }
   }

    .imgScroll{
      margin: .1rem;
      overflow: hidden;
      line-height: 0;
      ul{
        width:100%;
        height:auto;
        li{
          float: left;
          a{
            position: relative;
            display: block;
            line-height: 0;
            img{
              width:100%;
              height:auto;
            }
            p{
              position: absolute;
              left:0;
              right:0;
              bottom:0;
              line-height: .3rem;
              background: rgba(0,0,0,0.8);
              color: $wxColor1;
              padding: 0 .1rem;
            }
          }
        }
      }

    }

    .shops{
      margin: .1rem;
      ul{
        li{
          margin-bottom: .1rem;
          a{
            background: $wxColor1;
            padding-bottom: .1rem;
            display: block;
            img{
              width:100%;
            }
            .info{
              position: relative;
              font-size: .15rem;
              line-height: .3rem;
              padding-left: .05rem;
              .local{
                background: url("../wxImage/local.png") no-repeat left center;
                background-size: .2rem .2rem;
                padding-left: .2rem;
                color: $wxColor7;
              }
              .shopName{
                position: absolute;
                right: .1rem;
                top:0;
                color: $wxColor9;
              }
              .status{
                font-size: .12rem;
                line-height: 200%;
                color: $wxColor7;
                padding-left: .03rem;
                span{
                  padding-left: .18rem;
                  margin-right: .15rem;
                  b{
                    color: $wxColor9;
                  }
                  &.gaming{
                    background: url("../wxImage/1.png") no-repeat left center;
                    background-size: .18rem .18rem;
                  }
                  &.lineUp{
                    background: url("../wxImage/2.png") no-repeat left center;
                    background-size: .18rem .18rem;
                  }
                  &.notBeginning{
                    background: url("../wxImage/3.png") no-repeat left center;
                    background-size: .18rem .18rem;
                  }
                }

              }
            }
          }
        }
      }
    }
  }
}
