@charset "utf-8";
@import "_wx";
body{
  .main{
    .orderInfo{
      line-height: .4rem; text-align: center; color: $wxColor11;
    }
    .payType{
      background: $wxColor1; margin-top: .1rem; line-height: .4rem;
      p{
        padding-left: .1rem;
        b{
          color: $wxColor11;
        }
      }
      ul{
        li{
          border-top:.5px solid $wxColor3; height:.5rem; line-height: .5rem; background: url("../wxImage/r.png") no-repeat center right; background-size: .3rem; margin: 0 .1rem;
          img{
            float: left; width:auto; height:.4rem; margin: .05rem 0;
          }
          &.on{
            background-image: url("../wxImage/r_on.png");
          }
        }
      }
    }
    .btn{
      width:80%; height:.4rem; line-height: .4rem; text-align: center; background: $wxColor11; display: block;
 margin: .2rem auto;  color: $wxColor1; border-radius: 3px;   }

  }
}