@charset "utf-8";
@import "wx_mine";
.pandect{
  padding-top: 0;
  .title{
    background: $wxColor1;
    line-height: .4rem;
    border-bottom: .5px solid $wxColor3;
    overflow: hidden;
    padding: 0 .1rem;
    color: $wxColor6;
    b{
      color: $wxColor9;
    }
  }
  ul{
    overflow: hidden;
    li{
      position: relative;
      float: left;
      width:30%;
      min-height: .25rem;
      margin-left: 2.5%;
      margin-top: .1rem;
      font-size: .12rem;
      color:$wxColor6;
      border: .5px solid $wxColor3;
      line-height: 0;
      img{
        width:100%;
        height: auto;
        &.default{
          visibility: hidden;
        }
      }
      p{
        position: absolute;
        left:0;
        right:0;
        bottom:0;
        background:$wxColor13;
        padding: 0 .1rem;
        line-height: .25rem;
        color: $wxColor1;
      }
    }
  }
}