@charset "utf-8";
@import "wx_mine";
.userCenter{
  width:80%;
  margin: 0 auto;
  padding-bottom: .12rem;
  .top{
    width:55%;
    margin:0 auto;
    padding: .1rem 0;
    .nickname{
      text-align: center;
    }
  }
}
.btn.logout{
  width:90%; height:.4rem; margin: .3rem auto; line-height: .4rem; color: $wxColor1; background: $wxColor11; text-align: center; display: block; border-radius: 5px;
}