<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no">
        <link href="../css/game.css" rel="stylesheet" type="text/css" media="screen" />
        <title>游戏页面</title>
    </head>
<body>
<div class="main" id="game" :class="screenCenterMessage.nightFlag==1? 'night' : screenCenterMessage.nightFlag==0?'day':'' ">
    <h2 v-if="queueFlow == 1" class="readyTitle">游戏准备中，请稍候...</h2>
    <ul class="user-list">
        <li v-for="(user,idx) in users" v-on:click="userClick(user,$event)" :userid="user.userId">
            <user v-bind:user="user"></user>
        </li>
    </ul>
    <div class="queueBtns" style="display: none" v-show="queueFlow >= 1 && queueFlow < 3">
        <a class="btn"  v-on:click="quitSeat">退出座位</a>
        <a class="btn" v-if="screeningId !== 0 && leaderFlag"  v-on:click="modifyGameSet">修改配置</a>
        <a class="btn js-start" v-if="queueFlow >= 1 && leaderFlag"   v-on:click="startGame">开始游戏</a>
    </div>
    <div class="messageWrap" style="display: none" v-show="screenCenterMessage.nightFlag!=-1">
      <!--<messagecenter v-bind:user="screenCenterMessage"></messagecenter>-->
      <div class="top" v-show="screenCenterMessage.gameTime">第<span>{{ screenCenterMessage.gameTime }}</span>
      <span v-show="screenCenterMessage.nightFlag">黑天</span><span v-show="!screenCenterMessage.nightFlag">白天</span></div>
      <div class="message" v-show="screenCenterMessage.gameStatusStr && screenCenterMessage.gameStatusStr!=``">{{ screenCenterMessage.gameStatusStr }}</div>
      <div class="result" v-show="screenCenterMessage.result && screenCenterMessage.result!=``">{{ screenCenterMessage.result }}</div>
    </div>

  <div class="mine" style="display: none" v-show="mine.identityId">
    <div class="userWrap">
      <div class="user">
        <div v-bind:class="`level level${mine.stage || 0 }`">
        <div class="userInner">
            <div class="head">
              <img v-bind:src="mine.headImgUrl || `../image/head.png`">
              </div>
            <i v-bind:class="`star star${mine.star || 0 }`"></i>
            <div v-bind:class="`num num${mine.number || 0 }`"></div>
            </div>
          </div>
        </div>
      <div class="info">
        <p class="nick">昵称：{{mine.nickName}}</p>
        <p class="designation">称号：狼里一枝花</p>
        </div>
      </div>
    <div class="userBtns" v-on:click="userBtntoggle">
      <a class="identity" v-on:click="showSF"></a>
      <a v-for="(btn,idx) in leaderButton" class="leaderBtn" v-bind:event="btn" v-on:click="eventForPersonalButton($event,idx,'leader')"></a>
      <a v-for="(btn,idx) in personalButton" class="personBtn" v-bind:event="btn" v-on:click="eventForPersonalButton($event,idx,'person')" ></a>
    </div>
  </div>
  <!--抢身份-->
    <div class="qiang">
      <div class="inner">
        <h2 class="title"></h2>
        <div class="countDown">倒计时:<span></span></div>
        <ul class="shenfens">
        </ul>
      </div>
    </div>
    <!--查看身份-->
    <div class="layer layerShenfen">
      <div class="inner">
        <h2 class="title">长按身份牌查看您的身份</h2>
        <div class="content shenfen"></div>
        <div class="btnWrap"><a class="btn btn2">知道了</a></div>
      </div>
    </div>

    <!--用户事件通知-->
  <div class="layer layerEventKnow">
    <div class="inner">
      <h2 class="title"></h2>
      <div class="content">
        <p class="info"></p>
        <div class="btnWrap">
          <div class="btn btn2 js-affirm">知道了</div>
        </div>
      </div>
    </div>
  </div>
  <!-- 投票结果-->
  <div class="layer layerEventVoteResult">
    <div class="inner">
      <h2 class="title">投票结果</h2>
      <div class="content">
        <p class="info"></p>
        <ul class="resultList">
        </ul>
      </div>
      <div class="btnWrap"><div class="btn btn2 js-affirm">知道了</div></div>
    </div>
  </div>
  <!--决定事件-->
  <div class="layer layerEventDecide">
    <div class="inner">
      <h2 class="title"></h2>
      <div class="content">
        <p class="info"></p>
        <div class="btnWrap twoCol">
            <div class="btn btn3 js-withdraw" type='no' >放弃</div>
            <div class="btn btn2 js-affirm" type='yes'>竞选</div>
        </div>
      </div>
    </div>
  </div>
    <!--用户事件-选择-->
    <div class="layer layerSixCenter layerEventChoose">
      <div class="inner">
        <h2 class="title"></h2>
        <div class="content">
          <p class="info"></p>
          <ul class="voteList"></ul>
          <p class="tips">请长按提交按钮进行提交</p>
          <div class="btnWrap">
            <div class="btn btn2 longPress js-longPress">
              <span class="process"><b></b></span>
              <span class="text">提交</span>
            </div>
            <div class="btn btn3 js-withdraw" >放弃</div>
          </div>
        </div>
      </div>
    </div>
  <!--用户事件-女巫-->
  <div class="layer layerSixCenter layerEventWitch">
    <div class="inner">
      <h2 class="title">女巫</h2>
      <div class="content">
        <p class="info"></p>
        <ul class="voteList">
          <li class="unchoose"></li>
        </ul>
        <p class="tips">请长按救人/毒人按钮进行提交</p>
        <div class="btnWrap">
          <div class="btn btn2 longPress" event="EVENT_SAVE">
            <span class="process"><b></b></span>
            <span class="text">救人</span>
          </div>
          <div class="btn btn4 longPress" event="EVENT_POISON">
            <span class="process"><b></b></span>
            <span class="text">毒人</span>
          </div>
          <div class="btn btn3 js-withdraw" event="EVENT_WITCH">放弃</div>
        </div>
      </div>
    </div>
  </div>

    <div class="layer layerUserInfo" v-if="JSON.stringify(userinfo)!='{}'">
      <div class="inner">
        <userinfo v-bind:user="userinfo"></userinfo>
        <div class="btnWrap">
          <a class="btn btn2" v-on:click="addAtten">关注</a>
        </div>
      </div>
    </div>

    <div class="layer layerDead">
        <div class="content">
        </div>
    </div>
    <div class="gameEnd" >
    <div class="endInner">
      <p class="resultInfo"><span class="costTime">{{accountInfo.costTime}}</span><span class="endTime">{{accountInfo.endTime}}</span></p>
      <div class="result win">
        <h3 class="title"><span>{{accountInfo.gameStatusStr}}</span></h3>
        <ul class="userList">
          <li v-for="(user,idx) in accountInfo.winUsers" v-on:click="voteMvp($event)" :userid="user.userId" class="zan">
            <userwin v-bind:user="user"></userwin>
            <p><span>{{user.identityName}}</span></p>
          </li>

        </ul>
      </div>
      <div class="result lose">
        <!--<h3 class="title"><span>失败</span></h3>-->
        <ul class="userList">
          <li v-for="(user,idx) in accountInfo.loseUsers" v-on:click="mvp($event)" :userid="user.userId">
            <userlose v-bind:user="user"></userlose>
            <p><span>{{user.identityName}}</span></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <div class="layer userAccount">
      <div class="inner">
        <div :class="myAccountInfo.mvpFlag? 'mvp' : '' "></div>
        <userend v-bind:user="myAccountInfo"></userend>
        <ul class="levelChange" >
          <li>
            <span class="left">等级：</span><div class="right"><p>{{myAccountInfo.showStage}}阶</p></div>
          </li>
          <li v-bind:class="`level${myAccountInfo.showStage || 0 }`">
            <span class="left">星级：</span><div class="right"><b class="star" v-for="(user,idx) in myAccountInfo.showStar"></b></div>
          </li>
          <li>
            <span class="left">积分：</span>
            <div class="right">
              <div class="pro">
                <b></b>
                <span v-bind:class="`pre bound level${myAccountInfo.preStage || 0 }`"><i class="star" v-for="(user,idx) in myAccountInfo.preStar"></i></span>
                <span v-bind:class="`next bound level${myAccountInfo.thisStage || 0 }`"><i class="star" v-for="(user,idx) in myAccountInfo.thisStar"></i></span>
                <span v-bind:class="`count ${myAccountInfo.upFlag?'addcount':'subcount'}`">{{myAccountInfo.newScore-myAccountInfo.oldScore}}分</span>
              </div>
              <span class="totalAccount">{{myAccountInfo.showScore}}分</span></div>
          </li>

        </ul>
      </div>
    </div>
</div>
<script type="application/javascript" src="../../js/zepto.min.js"></script>
<script type="application/javascript" src="../../js/vue.min.js"></script>
<script type="application/javascript" src="../../js/velocity.min.js"></script>
<script type="application/javascript" src="../../js/sockjs.min.js"></script>
<script type="application/javascript" src="../../js/stomp.js"></script>

<script type="application/javascript" src="../js/global.js"></script>
<script type="application/javascript" src="../js/websocket.js"></script>
<script type="application/javascript" src="../js/component.js"></script>
<script type="application/javascript" src="../js/animate.js"></script>
<script type="application/javascript" src="../js/game.js"></script>
</body>
</html>