<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta name="format-detection"content="telephone=no">
    <link href="../css/game_gameSet.css" rel="stylesheet" type="text/css" media="screen" />
    <title>遇见狼人杀游戏设置</title>
</head>
<body>
<div class="main" id="game" v-cloak>
    <div class="page" style="display: none" v-show="flow==0">
        <div class="inner">
            <ul class="list">
                <li v-for="(item,idx) in combinats" v-on:click="chooseType" :typeid="idx">{{ item.name }}</li>
            </ul>
        </div>
    </div>
    <div class="page" style="display: none" v-show="flow==1">
        <div class="inner" v-if="comType==0">
            <ul class="comList">
                <li v-for="content in combinats[0].content.combination" v-on:click="chooseBaseCom" :typeid="content.id" :playercount="content.playerCount">
                    <div class="mod">
                        <p v-for="item in content.list">
                            {{ item }}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="inner" v-else>
            <div class="tab-box">
                <h3>好人阵营</h3>
                <div class="num-set" v-for="item in combinats[1].content.identity.pingmin" :typeId="item.id">
                    {{item.name}}
                    <div class="input"><span class="add" v-on:click="add(item)"></span><input type="number" :value="item.select"><span class="sub" v-on:click="sub(item)"></span></div>
                </div>
                <ul class="tabs">
                    <li v-for="item in combinats[1].content.identity.GOOD" :typeId="item.id" v-bind:class='{ "active" : item.select}'    v-on:click="toggle(item)" >
                        <a>{{ item.name }}</a>
                    </li>
                </ul>
            </div>
            <div class="tab-box">
                <h3>狼人阵营</h3>
                <div class="num-set" v-for="item in combinats[1].content.identity.langren" :typeId="item.id">
                    {{item.name}}
                    <div class="input"><span class="add" v-on:click="add(item)"></span><input type="number" :value="item.select"><span class="sub" v-on:click="sub(item)"></span></div>
                </div>
                <ul class="tabs">
                    <li v-for="item in combinats[1].content.identity.WEREWOLF" :typeId="item.id" v-bind:class='{ "active" : item.select}' v-on:click="toggle(item)">
                        <a>{{ item.name }}</a>
                    </li>
                </ul>
            </div>
            <div class="tab-box">
                <h3>其它</h3>
                <ul class="tabs">
                    <li v-for="item in combinats[1].content.identity.UNKNOWN" :typeId="item.id" v-bind:class='{ "active" : item.select}' v-on:click="toggle(item)">
                        <a>{{ item.name }}</a>
                    </li>
                </ul>
            </div>
            <p class="total">共计：{{combinats[1].content.total}}人</p>
            <a class="btn" v-on:click="addCombination">配置完成</a>
        </div>
    </div>
    <div class="page" style="display: none" v-show="flow==2">
        <div class="inner">
            <ul class="list">
                <li v-for="(item,idx) in selfs" v-on:click="chooseSelfs" :typeid="idx">{{ item }}</li>
            </ul>
        </div>
    </div>
    <div class="page" style="display: none" v-show="flow==3">
        <div class="inner">
            <ul class="list">
                <li v-for="(item,idx) in victory" v-on:click="chooseVictory" :typeid="idx">{{ item }}</li>
            </ul>
        </div>
    </div>
</div>
<script type="application/javascript" src="../../js/zepto.min.js"></script>
<script type="application/javascript" src="../../js/vue.js"></script>
<script type="application/javascript" src="../../js/global.js"></script>
<script type="application/javascript" src="../js/gglobal.js"></script>
<script type="application/javascript" src="../js/game_set.js"></script>
</body>
</html>