<!DOCTYPE html>
<!--forbidden operators-->
<!--<html><head><title></title></head></body></html>-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <link href="../../css/swiper.min.css" rel="stylesheet" type="text/css" media="screen" >
    <link href="../css/wxh_game.css" rel="stylesheet" type="text/css" media="screen" />
    <title>游戏</title>
</head>
<body>
<div class="main" id="wx_game" v-cloak>
    <div class="header"><div><a class="back" href="wx_mine.html"></a> <h1 class="pageName"><span>游戏</span></h1></div></div>
    <div class="container">
        <div class="box" v-if="users.length>0">
            <h2><span class="name">{{boxName}}</span><span class="status">{{gameStatus}}</span></h2>
            <ul>
                <li v-for="user in users" :uid = "user.userId" >
                    <user v-bind:user="user"></user>
                    <p :class="!user.userId?'unsit nick':'nick'"><span>{{user.name}}</span></p>
                    <p class="give" v-on:click="gives(user)">送礼物</p>
                </li>
            </ul>
            <p class="sitTip">{{sitTip}}</p>
            <a v-if="gameStatus=='队列中'" class="btn quitSeat"  v-on:click="quitSeat">退出座位</a>

        </div>
        <div class="pay">
            <div class="imgScroll swiper-container">
                <ul class="swiper-wrapper">
                    <li v-for = "item in banners" class="swiper-slide">
                        <a :href="item.redirectUrl">
                            <img :src="item.imgUrl" alt="">
                            <p>{{item.content}}</p>
                        </a>
                    </li>
                </ul>
                <div class="swiper-pagination"></div>
            </div>
            <div class="payType">
                <h2>支付方式</h2>
                <ul class="payType radios">
                    <li :class="`radio ${item.on?'on':''}`" :typeId ="key"  v-for="(item,key) in balances" :isLess="item.less?'less':''">{{item.name}} <span>{{item.info}}</span></li>
                </ul>
            </div>
            <p class="tips">注：开始游戏后才进行扣费</p>
            <a v-if="!mustBuy" class="btn sit" v-on:click="sit">确定入座</a>
            <a v-else class="btn mustBuy" v-on:click="shop">余额不足，去商城购买</a>
        </div>
        <p class="defaultMess"></p>
    </div>
    <div class="layerWrap voucherListLayer">
        <div class="layerNavTop">
            <a class="back"></a>
            <h2>使用体验券</h2>
        </div>
        <div class="layerNavContent voucherList barWrap">
            <div class="bd">
                <ul class="cards barCon enabledVoucher on">

                </ul>
            </div>
        </div>
        <div class="layerNavBottom">
            <a class="btn" v-on:click="changeCard()">确认</a>
        </div>
    </div>
    <div class="givesWrap">
        <b class="shade"></b>
        <div class="gives">
            <h2>送给 <span class="man">刀狼</span> <b class="balance">余额: <span class="yumi">{{balance}}</span></b></h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <ul class="giveList swiper-slide">
                        <li v-for = "item in gives" v-on:click="chooseGive(item,$event)" :gid = "item.id" :cost="item.cost">
                            <a>
                                <img :src="item.img" alt="">
                                <p><span class="yumi">{{item.cost}}</span></p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="givePay">
                <a v-if="noBalance" class="btn recharge">充值</a>

                <a v-else class="btn give">赠送</a>
                <div class="giveNumChoose">
                    <span>赠送数量：</span>
                    <select id="giveNum" class="giveNum" v-on:change="onSelected()">
                        <option v-for = "item in giveNumbers" :value="item">{{item}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript" src="../../js/zepto.min.js"></script>
<script type="application/javascript" src="../../js/vue.js"></script>
<script type="application/javascript" src="../../js/velocity.min.js"></script>
<script type="application/javascript" src="../../js/global.js"></script>
<script type="application/javascript" src="../../game/js/wx/wx_global.js"></script>
<script type="application/javascript" src="../../js/swiper.js"></script>
<script type="application/javascript" src="../../game/js/wx/wx_component.js"></script>
<script type="application/javascript" src="../../game/js/wx/wx_game.js"></script>
<script language=javascript src='http://res.wx.qq.com/open/js/jweixin-1.2.0.js'></script>
</body>
</html>
<!--<html><head><title></title></head></body></html>-->